<div class="card">
    <div class=" d-flex justify-content-end py-3">
        <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">Ajouter un article</button>
    </div>
    <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" [totalRecords]="totalPages" [lazy]="true" dataKey="id" [rows]="8"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

        <ng-template pTemplate="header">
            <tr>
                <th style="color: var(--secondary-color);">Photo</th>
                <th style="color: var(--secondary-color);">Nom</th>
                <th style="color: var(--secondary-color);">Format (Cl)</th>
                <th style="color: var(--secondary-color);">Categorie</th>
                <th style="color: var(--secondary-color);">Groupe article</th>
                <th style="color: var(--secondary-color);">Conditionnement</th>
                <th style="color: var(--secondary-color);">Plastique nu</th>
                <th style="color: var(--secondary-color);">Bouteille vide</th>
                <th style="color: var(--secondary-color);">Liquide</th>
                <th style="color: var(--secondary-color);">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataList>
            <tr>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.image }}
                    </span>
                </td>
                <td>
                    {{ dataList.libelle }}
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.format }}
                    </span>
                </td>
                <td>
                    {{ dataList.categorieproduit.libelle }}
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.groupearticle.libelle }}
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.Conditionnement }}
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.plastiquenu.libelle }}
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.bouteillevide.libelle }}
                    </span>
                </td>
                <td>
                    <!-- <span class="ml-1 vertical-align-middle">
                        {{ dataList.plastiquenu.libelle }}
                    </span> -->
                </td>
                <td>
            <tr class="d-flex justify-content-center gap-3">
                <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-edit text-secondary"></i></td>
                <td><i (click)="OnDelete(dataList.id)" style="cursor: pointer;"
                        class="fas fa-trash-alt text-danger"></i></td>
            </tr>

            </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Aucun article trouvé.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- Modal creation -->
<!-- Modal -->
<div *ngIf="isModalOpen" class="custom-modal">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <div class="d-flex justify-content-center align-items-center"
                    style="background-color: rgb(219, 255, 232); border-radius: 3rem; width: 3rem; height: 3rem;">
                    <i class="fas fa-box-check text-primary fs-3"></i>
                </div>
                <h1 *ngIf="operation == 'create'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Création
                    d'article'</h1>
                <h1 *ngIf="operation == 'edit'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Modification de
                    l'article</h1>
            </div>
            <div class="modal-body">
                <form [formGroup]="ArticleForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="photo" class="form-label">Photo <span class="text-danger">*</span></label>
                        <input type="file" class="form-control" id="photo" formControlName="photo" placeholder="Entrez la photo de l'article">
                      </div>

                      <div class="mb-3">
                        <label for="libelle" class="form-label">Nom <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="libelle" formControlName="libelle" placeholder="Entrez le libellé">
                      </div>

                      <div class="mb-3">
                        <label for="format" class="form-label">Format <span class="text-danger">*</span></label>
                        <select class="form-control form-select form-select-sm" formControlName="format" aria-label=".form-select-sm example">
                          <option value="" disabled selected>Choisir le format</option>
                          <option [value]="item" *ngFor="let item of dataListFormats">{{item}}</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label for="categorieId" class="form-label">Catégorie produit <span class="text-danger">*</span></label>
                        <select class="form-control form-select form-select-sm" formControlName="categorieId" aria-label=".form-select-sm example">
                          <option value="" disabled selected>Choisir le produit</option>
                          <option [value]="item.id" *ngFor="let item of dataListProduits">{{item.libelle}}</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label for="liquideId" class="form-label">Liquide <span class="text-danger">*</span></label>
                        <select class="form-control form-select form-select-sm" formControlName="liquideId" aria-label=".form-select-sm example">
                          <option value="" disabled selected>Choisir le liquide</option>
                          <option [value]="item.id" *ngFor="let item of dataListLiquides">{{item.libelle}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="reference" class="form-label">Code <span
                          class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="reference" formControlName="reference"
                               placeholder="Entrez le code">
                      </div>
                      <div class="mb-3">
                        <label for="groupeId" class="form-label">Groupe produit <span class="text-danger">*</span></label>
                        <select class="form-control form-select form-select-sm" formControlName="groupeId" aria-label=".form-select-sm example">
                          <option value="" disabled selected>Choisir l'article</option>
                          <option [value]="item.id" *ngFor="let item of dataListGroupeArticles">{{item.libelle}}</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label for="Conditionnement" class="form-label">Conditionnement <span class="text-danger">*</span></label>
                        <select class="form-control form-select form-select-sm" formControlName="Conditionnement" aria-label=".form-select-sm example">
                          <option value="" disabled selected>Choisir le conditionnement</option>
                          <option [value]="item" *ngFor="let item of dataListConditionnements">{{item}}</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label for="plastiquenuId" class="form-label">Plastique nu <span class="text-danger">*</span></label>
                        <select class="form-control form-select form-select-sm" formControlName="plastiquenuId" aria-label=".form-select-sm example">
                          <option value="" disabled selected>Choisir le plastique nu</option>
                          <option [value]="item.id" *ngFor="let item of dataListPlastiqueNu">{{item.libelle}}</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label for="bouteillevideId" class="form-label">Bouteille vide <span class="text-danger">*</span></label>
                        <select class="form-control form-select form-select-sm" formControlName="bouteillevideId" aria-label=".form-select-sm example">
                          <option value="" disabled selected>Choisir la bouteille</option>
                          <option [value]="item.id" *ngFor="let item of dataListBouteilleVide">{{item.libelle}}</option>
                        </select>
                      </div>


                    </div>
                  </div>
                </form>
              </div>


            <div class="modal-footer gap-3 px-4">
                <button (click)="OnCloseModal()" type="button" class="btn btn-secondary px-2">Annuler</button>
                <button type="submit" (click)="onSubmit()" class="btn btn-primary px-2">Valider</button>
            </div>
        </div>
    </div>
</div>
