<div class="card">
  <div class="container py-4">
    <h2>Gestion des Annonces</h2>
    <div class="row">
      <div class="col">
        <form [formGroup]="annonceForm" (ngSubmit)="onSubmit()" class="col g-3 mb-4">
          <div class="col-md-4">
            <div *ngIf="!changeValue" class="center border border-primary rounded p-3"
                 style="width: 400px;height: 200px;">
              <ngx-file-drop
                dropZoneLabel="Déposez vos fichiers ici"
                [dropZoneClassName]="'drop-zone'"
                (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)"
                (onFileLeave)="fileLeave($event)"
              >
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  <div class="d-flex flex-column align-items-center justify-content-center h-100">
                    <i class="fa-solid fa-images mb-2" style="font-size: 70px; color: lightskyblue;"></i>
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="openFileSelector()">
                      Importer
                    </button>
                  </div>
                </ng-template>
              </ngx-file-drop>
            </div>
            <div class="mt-3">
              <div class="row">
                <div class="col-4" *ngFor="let img of previews">
                  <img [src]="img" class="img-thumbnail" style="width: 100%; height: auto;">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label">Titre</label>
            <input type="text" class="form-control" formControlName="titre">
            <div *ngIf="annonceForm.get('titre')?.invalid && annonceForm.get('titre')?.touched" class="text-danger">
              Titre requis
            </div>
          </div>
          <div class="col-md-4 my-2">
            <label class="form-label">Description</label>
            <textarea class="form-control" id="description" formControlName="texte" name="description" rows="8"
                      placeholder="Saisissez une description ici..."></textarea>
          </div>
          <div class="col-12 my-2">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" (change)="onChange()" formControlName="isTexte"
                     id="isTexte">
              <label class="form-check-label" for="isTexte">Annonce de texte</label>
            </div>
          </div>
          <div class="col-12 my-2">
            <button class="btn btn-primary" type="submit"
                    [disabled]="annonceForm.invalid || (!annonceForm.get('isTexte')?.value && previews.length === 0)">
              {{ editingId ? 'Mettre à jour' : 'Ajouter' }}
            </button>

            <button class="btn btn-secondary ms-2" type="button" (click)="resetForm()">Annuler</button>
          </div>
        </form>
      </div>
      <div class="col">
        <table class="table">
          <thead>
          <tr style="font-size: small">
            <th scope="col" class="text-secondary">Image</th>
            <th scope="col" class="text-secondary">Titre</th>
            <th scope="col" class="text-secondary">Description</th>
            <th scope="col" class="text-secondary">Date création</th>
            <th scope="col" class="text-secondary text-center">
              Action
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of annonces">
            <td><img style="width: 20px" [src]="item.image ? docUrl + item.image : 'N/A'" alt=""></td>
            <td><span>{{item.titre || 'N/A'}}</span></td>
            <td><span>{{item.texte || 'N/A'}}</span></td>
            <td><span>{{item.createdAt | date}}</span></td>
          <td><tr class="d-flex justify-content-center gap-3">
            <td><i (click)="OnView(item)" style="cursor: pointer;" class="fas fa-eye text-secondary"></i></td>
            <td><i (click)="DeleteAnnonce(item.id)" style="cursor: pointer;"
                   class="fas fa-trash-alt text-danger"></i></td>
          </tr></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


</div>



<div *ngIf="isModalDetailOpen" class="custom-modal">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center"
             style="background-color: rgb(219, 255, 232); border-radius: 3rem; width: 3rem; height: 3rem;">
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>
        <h1 class="modal-title fs-5 ms-3" id="staticBackdropLabel">Détails
          de l'article</h1>
      </div>
      <div class="modal-body">
        <div class="row" >
          <div class="col-md-6" *ngIf="updateData.image">
            <div class="mb-3">
              <img style="width: 300px;max-height:400px;" [src]="docUrl + updateData.image" alt="Photo"
                   class="img-thumbnail vertical-align-middle"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="reference" class="form-label">Titre <span
                class="text-danger">*</span></label>
              <input type="text" class="form-control" id="reference" [value]="updateData.titre" [disabled]="true">
            </div>
            <div class="mb-3">
              <label for="groupeId" class="form-label">Description <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="groupeId" [value]="updateData.texte" [disabled]="true">
            </div>

          </div>
        </div>
      </div>


      <div class="modal-footer gap-3 px-4">
        <button (click)="OnCloseDetailModal()" type="button" class="btn btn-secondary px-2">Fermer</button>
      </div>
    </div>
  </div>
</div>
