<div class="card">
  <!-- <div class="d-flex justify-content-end py-3">
    <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">
      Saisie d'emballage rendu
    </button>
  </div> -->
  <div class="row d-flex justify-items-center">
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <span>Numero reception :</span>
      <span class="p-input-icon-left w-100 d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input
          class="w-100"
          style="border-radius: 7px"
          pInputText
          type="text"
          [(ngModel)]="filters.numeroReception"
          (keydown.enter)="filterGlobal()"
          placeholder="Recherche"
        />
      </span>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <span>Numero bon :</span>
      <span class="p-input-icon-left w-100 d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input
          class="w-100"
          style="border-radius: 7px"
          pInputText
          type="text"
          [(ngModel)]="filters.numeroBonLivraison"
          (keydown.enter)="filterGlobal()"
          placeholder="Recherche"
        />
      </span>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <span>Date debut :</span>
      <span class="p-input-icon-left w-100 d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input
          class="w-100"
          style="border-radius: 7px"
          pInputText
          type="text"
          [(ngModel)]="filters.dateDebut"
          (keydown.enter)="filterGlobal()"
          placeholder="Recherche"
        />
      </span>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <span>Date fin :</span>
      <span class="p-input-icon-left w-100 d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input
          class="w-100"
          style="border-radius: 7px"
          pInputText
          type="text"
          [(ngModel)]="filters.dateFin"
          (keydown.enter)="filterGlobal()"
          placeholder="Recherche"
        />
      </span>
    </div>
  </div>
  <p-table
    [styleClass]="'p-datatable-sm'"
    #dt2
    [value]="dataList"
    dataKey="id"
    [rows]="8"
    [totalRecords]="totalPages"
    [lazy]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)">Dépots</th>
        <th style="color: var(--secondary-color)">N° réception</th>
        <th style="color: var(--secondary-color)">N° bon livraison</th>
        <th style="color: var(--secondary-color)">N° commande</th>
        <th style="color: var(--secondary-color)">Date commande</th>
        <th style="color: var(--secondary-color)">Type de commande</th>
        <th style="color: var(--secondary-color)">Statut</th>
        <th style="color: var(--secondary-color)">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList let-i="index">
      <tr>
        <td>
           <span class="ml-1 vertical-align-middle">
          {{ dataList?.commande.depot.nomDepot }}
           </span>
        </td>
        <td>
           <span class="ml-1 vertical-align-middle">
          {{ dataList?.numeroReceptionCommande }}
           </span>
        </td>
        <td>
           <span class="ml-1 vertical-align-middle">
          {{ dataList?.numeroBonLivraison }}
           </span>
        </td>
        <td>
           <span class="ml-1 vertical-align-middle">
          {{ dataList?.commande?.NumCommande }}
           </span>
        </td>

        <td>
           <span class="ml-1 vertical-align-middle">
          {{ dataList?.commande?.dateCommande }}
           </span>
        </td>

        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList?.commande?.typeCommande }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList?.commande?.statut }}
          </span>
        </td>
        <td>
          <tr class="d-flex justify-content-center gap-3">
            <td>
              <i
                (click)="OnEdit(dataList)"
                style="cursor: pointer"
                class="fas fa-eye text-secondary"
              ></i>
            </td>
          </tr>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun emballage trouvé!</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal creation -->
<!-- Modal -->

<div *ngIf="isModalOpen" class="custom-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div
          class="d-flex justify-content-center align-items-center"
          style="
            background-color: rgb(219, 255, 232);
            border-radius: 3rem;
            width: 3rem;
            height: 3rem;
          "
        >
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>

        <h1 class="modal-title fs-5 ms-3" id="staticBackdropLabel">
          Retour emballage
        </h1>
      </div>
      <div class="modal-body">
        <div>
          <fieldset class="row border my-1">
            <legend style="font-size: 14px" class="text-secondary">
              Numero reception commande :
              {{ updateData?.numeroReceptionCommande }} du
              {{ updateData?.createdAt | date : "dd/MM/yyyy" }}
            </legend>
          </fieldset>

          <fieldset class="row border my-2">
            <legend style="font-size: 14px" class="text-secondary">
              Information commande
            </legend>
            <div class="row">
              <div class="col-md-4">
                <strong>Date commande : </strong>
                <span>{{ updateData?.commande?.dateCommande }}</span>
              </div>
              <div class="col-md-4">
                <strong>Date livraison estimée : </strong>
                <span>{{ updateData?.commande?.dateLivraisonEstimee }}</span>
              </div>
              <div class="col-md-4">
                <strong>Statut : </strong>
                <span>{{ updateData?.commande?.statut }}</span>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="p-2 mt-3">

          <button
          type="submit"
          *ngIf="updateData?.emballagesRendus.length === 0"
          (click)="selectArticle()"
          class="btn btn-primary px-2 d-flex justify-content-end mb-2"
        >
          Ajouter
        </button>
          <div style="max-height: 350px; overflow-y: auto">

            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Emballage</th>
                  <th scope="col">Quantité</th>
                  <!-- <th scope="col">Actions</th> -->
                </tr>
              </thead>
              <tbody *ngIf="updateData?.emballagesRendus.length == 0">
                <tr *ngFor="let data of emballagesrecues; let i = index">
                  <td class="">
                    <p>
                      {{
                        data.articleCommande ? data.articleCommande?.emballage?.code : data.emballage?.code ?? data?.code
                      }}
                    </p>
                  </td>
                  <td class="">
                    <p>
                      {{
                        data?.articleCommande ? data.articleCommande?.emballage?.libelle : data.emballage?.libelle ?? data?.libelle
                      }}
                    </p>
                  </td>
                  <td >
                    <p class="d-flex justify-content-between">
                      <input
                        type="number"
                        class="form-control-custom"
                        [(ngModel)]="data.quantiteRecue"
                        [min]="0"
                        value="0"
                      />
                      <button *ngIf="data.isNewAdd"
                        type="button"
                        class="btn btn-danger btn-sm ms-2"
                        (click)="removeArticleEmballage(data)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </p>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="updateData?.emballagesRendus.length > 0">
                <tr *ngFor="let data of updateData?.emballagesRendus[0].articles; let i = index">
                  <td class="">
                    <p>
                      {{
                        formatCode(data?.emballage?.code)
                      }}
                    </p>
                  </td>
                  <td class="">
                    <p>
                      {{
                        data?.emballage?.libelle
                      }}
                    </p>
                  </td>
                  <td>
                    <p>
                          {{data?.quantite}}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer gap-3 px-4">
        <button
          (click)="OnCloseModal()"
          type="button"
          class="btn btn-secondary px-2"
        >
          Annuler
        </button>
        <button
          type="submit"
          *ngIf="updateData?.emballagesRendus.length === 0"
          (click)="onSubmit()"
          class="btn btn-primary px-2"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>

<!--CHOIX ARTICLE-->
<div *ngIf="isChoiceModalOpen" class="custom-modal">
  <div class="modal-dialog2 modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div
          class="d-flex justify-content-center align-items-center"
          style="
            background-color: rgb(219, 255, 232);
            border-radius: 3rem;
            width: 3rem;
            height: 3rem;
          "
        >
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>
        <h1 class="modal-title fs-5 ms-3" id="staticBackdropLabel">
          Selection des emballages
        </h1>
      </div>

      <div class="modal-body">
        <form>
          <div class="row">
              <div class="p-3">
                <!-- Champ de recherche -->
                <input
                  type="text"
                  name="search"
                  (input)="filterArticles()"
                  [(ngModel)]="searchTerm"
                  placeholder="Rechercher un produit"
                  class="form-control mb-3"
                />
              </div>
              <div
                class="table-responsive"
                style="max-height: 200px; overflow-y: auto"
              >
                <table class="table">
                  <thead>
                    <tr style="font-size: small">
                      <th scope="col" class="text-secondary">Code</th>
                      <th scope="col" class="text-secondary">Produits</th>
                      <th scope="col" class="text-secondary text-center">
                        Choix
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let article of filteredArticleList; let i = index"
                      style="font-size: small"
                    >
                      <th scope="row">{{ article.code }}</th>
                      <th scope="row">{{ article.libelle }}</th>

                      <td class="">
                        <input
                          type="checkbox"
                          class="form-control-custom"
                          [name]="'checkbox_' + i"
                          [disabled]="article.stocksDisponibles === 0"
                          [(ngModel)]="article.isChecked"
                          (change)="onCheckboxChange(article)"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer gap-3 px-4y">
        <button
          (click)="OnCloseChoiceModal()"
          type="button"
          class="btn btn-secondary px-2"
        >
          Fermer
        </button>
        <!-- <button
          type="submit"
          (click)="onSubmitSelection()"
          class="btn btn-primary px-2"
        >
          Valider
        </button> -->
      </div>
    </div>
  </div>
</div>
