<!-- Navigation -->
<div class="gap-2 d-flex align-items-center mb-3" style="cursor: pointer;" (click)="goBack()">
  <i style="font-size: 18px;" class="fas fw-bold fa-chevron-left me-2"></i>
  <h4 class="fw-bold mb-0">Ventes chines</h4>
</div>
<nav class="nav nav-pills flex-column flex-sm-row gap-1 border-bottom">
      <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'ventechine'"
      (click)="activeElement('ventechine')">Vente chine</a>
  </nav>

  <div class="tab-content mt-3">
    <div *ngIf="activeTab === 'ventechine'" class="tab-pane fade show active">
      <app-ventechinepage></app-ventechinepage>
    </div>

    <div *ngIf="activeTab === 'suivivente'" class="tab-pane fade show active">
      <app-suiviventechine></app-suiviventechine>
    </div>

  </div>
