/* Styles pour la mise en page */
#sidebar {
    width: 260px;
    min-width: 260px;
    height: auto;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px -7px rgba(204,204,204,0.72);
    -moz-box-shadow: 0px 0px 17px -7px rgba(204,204,204,0.72);
    box-shadow: 0px 0px 17px -7px rgba(204,204,204,0.72);
}

.btn {
    width: 200px;
}

a,
label {
    cursor: pointer;
}

a:hover{
    cursor: pointer;
    background-color: rgb(220, 255, 220);
}
.flex-grow-1 {
    min-height: 100vh;
}

i {
    font-size: 18px;
    color: rgb(154, 154, 154);
}

.navbar {
    height: 60px;
}

.active {
    background-color: var(--primary-color) !important;
    color: white;
}


.form-control{
    width: 100% !important;
}

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }

  .modal-dialog {
    background-color: white;
    border-radius: 0.3rem;
    width: 30em;
    max-width: 30em;
    padding: 1rem;
  }
  
  .modal-header, .modal-body, .modal-footer {
    padding: 1rem;
  }
  
  .btn-close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
  }

 