<div class="card">
   
    <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

        <ng-template pTemplate="header">
            <tr>
                <th style="color: var(--secondary-color)">Date</th>
                <th style="color: var(--secondary-color)">Numéro de commande</th>
                <th style="color: var(--secondary-color)">Numéro SAP</th>
                <th style="color: var(--secondary-color)">Raison sociale</th>
                <th style="color: var(--secondary-color)">Remise</th>
                <th style="color: var(--secondary-color)">Solde liquide</th>
                <th style="color: var(--secondary-color)">Solde emballage</th>
                <th style="color: var(--secondary-color)">Entrepôt</th>
                <th style="color: var(--secondary-color);">Localité à livrer</th>
                <th style="color: var(--secondary-color)">Action(s)</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataList>
            <tr>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.image }} -->
                    </span>
                </td>
                <td>
                    <!-- {{ dataList.libelle }} -->
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.format }} -->
                    </span>
                </td>
                <td>
                    <!-- {{ dataList.categorieproduit.libelle }} -->
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.groupearticle.libelle }} -->
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.Conditionnement }} -->
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.plastiquenu.libelle }} -->
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.bouteillevide.libelle }} -->
                    </span>
                </td>
                <td>
                    <!-- <span class="ml-1 vertical-align-middle">
                        {{ dataList.plastiquenu.libelle }}
                    </span> -->
                </td>
                <td>
            <tr class="d-flex justify-content-center gap-3">
                <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-edit text-secondary"></i></td>
                <td><i (click)="OnDelete(dataList.id)" style="cursor: pointer;"
                        class="fas fa-trash-alt text-danger"></i></td>
            </tr>

            </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Aucune commande trouvé.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


