<div
  class="gap-2 d-flex align-items-center mb-3"
  style="cursor: pointer"
  (click)="goBack()"
>
  <i style="font-size: 18px" class="fas fw-bold fa-chevron-left me-2"></i>
  <h4 class="fw-bold mb-0">Fournisseurs</h4>
</div>
<div class="card">
  <div>
    <span style="font-size:13px;">Nombre: </span>
    <span style="font-size:13px;" class="fw-bold text-secondary">{{ filteredCount }}</span>
  </div>
  <p-table
    #dt
    [styleClass]="'p-datatable-sm'"
    #dt2
    [value]="dataList"
    dataKey="id"
    [rows]="8"
    [totalRecords]="totalPages" [lazy]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['raisonSocial', 'nomProprietaire', 'nomGerant']"
    (onFilter)="updateFilteredCount(dt)"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="caption">
      <div class=" d-flex justify-content-between py-3">
                <span class="p-input-icon-left ml-auto d-flex align-items-center">
                    <i class="fas fa-search"></i>
                    <input style="width: 300px; border-radius: 7px;" pInputText type="text"
                           (input)="filterGlobal($event)" placeholder="Recherche"/>
                </span>
        <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">
          Créer un fournisseur
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)">Code Fss</th>
        <th style="color: var(--secondary-color)">Nom Fournisseur</th>
        <th style="color: var(--secondary-color)">Code groupe</th>
        <th style="color: var(--secondary-color)">Adresse</th>
        <th style="color: var(--secondary-color)">Pays</th>
        <th style="color: var(--secondary-color)">Devise</th>
        <th style="color: var(--secondary-color)">Téléphone 1</th>
        <th style="color: var(--secondary-color)">Téléphone 2</th>
        <th style="color: var(--secondary-color)">Site web</th>
        <th
          class="d-flex justify-content-center"
          style="color: var(--secondary-color)"
        >
          Actions
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.codeClient }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.agentCommercial.nom + ' ' + dataList.agentCommercial.prenoms }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.raisonSocial }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.nomGerant }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.nomProprietaire }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.groupeClient.nomGroupe }}
          </span>
        </td>
        <td>
      <tr class="d-flex justify-content-center gap-3">
        <td>
          <i *ngIf="dataList.isValide && !dataList.isAssocie" class="fa-solid fa-crown" style="color:#ffc400"
          ></i>
          <i
            *ngIf="!dataList.isValide && !dataList.isAssocie"
            [ngStyle]="{
                        'color': dataList.isValide ? 'gray' : '#08AD36',
                      }"
            (click)="OnValidate(dataList)"
            style="cursor: pointer"
            class="fas fa-check fw-bold"
          ></i>
        </td>
        <td>
          <i
            (click)="OnEdit(dataList)"
            style="cursor: pointer"
            class="fas fa-edit text-secondary fw-bold"
          ></i>
        </td>
        <td>
          <i
            (click)="OnDelete(dataList.id)"
            style="cursor: pointer"
            class="fas fa-trash-alt text-danger fw-bold"
          ></i>
        </td>
      </tr>
      </td></tr
      ></ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun article trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="isModalOpen" class="custom-modal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div
          class="d-flex justify-content-center align-items-center"
          style="
            background-color: #dbffe8;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
          "
        >
          <i class="fas fa-box-check text-success fs-4"></i>
        </div>
        <h1 *ngIf="operation == 'create'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Création
          de fournisseur</h1>
        <h1 *ngIf="operation == 'edit'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Modification de
          fournisseurr</h1>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="OnCloseModal()"
        ></button>
      </div>
      <div class="modal-body" style="max-height: 70vh; overflow-y: auto">
        <form [formGroup]="fournisseurForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nomFournisseur" class="form-label">Nom Fournisseur</label>
              <input id="nomFournisseur" type="text" class="form-control" formControlName="nomFournisseur" />
            </div>

            <div class="col-md-6 mb-3">
              <label for="siteWeb" class="form-label">Site Web</label>
              <input id="siteWeb" type="url" class="form-control" formControlName="siteWeb" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="codeGroupe" class="form-label">Code Groupe</label>
              <input id="codeGroupe" type="text" class="form-control" formControlName="codeGroupe" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="adresse" class="form-label">Adresse</label>
              <input id="adresse" type="text" class="form-control" formControlName="adresse" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="pays" class="form-label">Pays</label>
              <input id="pays" type="text" class="form-control" formControlName="pays" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="devise" class="form-label">Devise</label>
              <input id="devise" type="text" class="form-control" formControlName="devise" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="telephone1" class="form-label">Téléphone 1</label>
              <input id="telephone1" type="text" class="form-control" formControlName="telephone1" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="telephone2" class="form-label">Téléphone 2</label>
              <input id="telephone2" type="text" class="form-control" formControlName="telephone2" />
            </div>
          </div>

          <!-- FOOTER -->
          <div class="modal-footer gap-3 px-4">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="OnCloseModal()"
            >
              Annuler
            </button>
            <button
              type="submit"
              [disabled]="fournisseurForm.invalid"
              class="btn btn-primary"
            >
              Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
