/* Hauteur complète de l'écran */
.container-fluid {
    height: 100vh;
  }
  
  /* Partie droite avec une image de fond */
  .login-right {
    background-image: linear-gradient(to top, var(--primary-color), rgba(0, 0, 0, 0)),
    url('../../../../assets/image/bg-login.jpeg'); /* Remplacer par votre image */
    background-size: cover;
    background-position: center;
    // height: 100%;
  }
