<div class="card">
  <div class=" d-flex justify-content-end py-3">
    <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">Planifier vente</button>
  </div>
  <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8"
           [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color);">Zone</th>
        <th style="color: var(--secondary-color);">Commercial</th>
        <th style="color: var(--secondary-color);">Qte chargée</th>
        <th style="color: var(--secondary-color);">Qte vendue</th>
        <!-- <th style="color: var(--secondary-color);">Qte restante</th>
        <th style="color: var(--secondary-color);">Nombre de client</th> -->
        <th style="color: var(--secondary-color);">Date</th>
        <th style="color: var(--secondary-color);">Statut</th>
        <th style="color: var(--secondary-color);">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <!-- <td>
            <span class="ml-1 vertical-align-middle">
                {{ dataList.image }}
            </span>
        </td>
        <td>
            {{ dataList.libelle }}
        </td>
        <td>
            <span class="ml-1 vertical-align-middle">
                {{ dataList.format }}
            </span>
        </td>
        <td>
            {{ dataList.categorieproduit.libelle }}
        </td>
        <td>
            <span class="ml-1 vertical-align-middle">
                {{ dataList.groupearticle.libelle }}
            </span>
        </td>
        <td>
            <span class="ml-1 vertical-align-middle">
                {{ dataList.Conditionnement }}
            </span>
        </td>
        <td>
            <span class="ml-1 vertical-align-middle">
                {{ dataList.plastiquenu.libelle }}
            </span>
        </td>
        <td>
            <span class="ml-1 vertical-align-middle">
                {{ dataList.bouteillevide.libelle }}
            </span>
        </td>
        <td>

        </td> -->
        <!-- <td>
    <tr class="d-flex justify-content-center gap-3">
        <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-edit text-secondary"></i></td>
        <td><i (click)="OnDelete(dataList.id)" style="cursor: pointer;"
                class="fas fa-trash-alt text-danger"></i></td>
    </tr>

    </td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun article trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal creation -->
<!-- Modal -->
<div *ngIf="isModalOpen" class="custom-modal">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center"
             style="background-color: rgb(219, 255, 232); border-radius: 3rem; width: 3rem; height: 3rem;">
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>
        <h1 *ngIf="operation == 'create'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Création vente
          chine</h1>
        <h1 *ngIf="operation == 'edit'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Modification vente
          chine</h1>
      </div>

      <div class="modal-body">
        <form [formGroup]="VenteForm">
          <div class="row">
            <fieldset class="row border my-2">
              <legend class="fs-6 text-primary">Ressources & chargement</legend>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Commercial <span class="text-danger">*</span></label>
                  <ng-select class="form-control" [items]="dataList" bindLabel="name" bindValue="id"
                             formControlName="commercial" [searchable]="true">
                  </ng-select>
                </div>
                <div class="mb-3">
                  <label class="form-label">Zone <span class="text-danger">*</span></label>
                  <ng-select class="form-control" [items]="dataList" bindLabel="name" bindValue="id"
                             formControlName="zone" [searchable]="true">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Date <span class="text-danger">*</span></label>
                  <input type="date" class="form-control" formControlName="date"/>
                </div>
                <div class="mb-3">
                  <label class="form-label">Camion <span class="text-danger">*</span></label>
                  <ng-select class="form-control" [items]="dataList" bindLabel="name" bindValue="id"
                             formControlName="camion" [searchable]="true">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-secondary"
                        (click)="selectArticle()">Ajouter des articles
                </button>
              </div>
            </fieldset>

            <fieldset class="row border my-2">
              <legend class="fs-6 text-primary">Cargaison</legend>
              <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                  <thead>
                  <tr style="font-size: small;">
                    <th scope="col">Produits</th>
                    <th scope="col">Qte liquide</th>
                    <th scope="col">Qte emballage</th>
                    <th scope="col">Prix liquide</th>
                    <th scope="col">Prix emballage</th>
                    <th scope="col">Prix total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr style="font-size: small;" *ngFor="let item of selectedArticles;let i=index">
                    <td>{{ item.liquide.libelle }}</td>
                    <td class="editable-cell"><input type="text" class="form-control-custom" value="3"></td>
                    <td class="editable-cell"><input type="text" class="form-control-custom" value="3"></td>
                    <td>10 000</td>
                    <td>10 000</td>
                    <td>20 000</td>
                  </tr>

                  <!-- Ajoutez d'autres lignes si nécessaire -->
                  </tbody>
                </table>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
      <div class="modal-footer gap-3 px-4y">
        <button (click)="OnCloseModal()" type="button" class="btn btn-secondary px-2">Annuler</button>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary px-2">Valider</button>

      </div>
    </div>
  </div>
</div>

<!--CHOIX ARTICLE-->
<div *ngIf="isChoiceModalOpen" class="custom-modal">
  <div class="modal-dialog2  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center"
             style="background-color: rgb(219, 255, 232); border-radius: 3rem; width: 3rem; height: 3rem;">
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>
        <h1 class="modal-title fs-5 ms-3" id="staticBackdropLabel">Selection des articles</h1>
      </div>

      <div class="modal-body">
        <form>
          <div class="row">
            <fieldset class="row border my-2">
              <div class="p-3">
                <!-- Champ de recherche -->
                <input type="text" name="search" (input)="filterArticles()" [(ngModel)]="searchTerm"
                       placeholder="Rechercher un produit" class="form-control mb-3">
              </div>
              <div class="table-responsive" style="max-height: 200px; overflow-y: auto;">

                <table class="table">
                  <thead >
                  <tr style="font-size: small;">
                    <th scope="col" >Code</th>
                    <th scope="col" >Produits</th>
                    <th scope="col" >Choix</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let article of filteredArticleList; let i = index" style="font-size: small;">
                    <th scope="row">{{ article.reference }}</th>
                    <th scope="row">{{ article.libelle }}</th>
                    <td class="">
                      <input
                        type="checkbox"
                        class="form-control-custom"
                        [name]="'checkbox_' + i"
                        [(ngModel)]="article.isChecked"
                        (change)="onCheckboxChange(article)"
                      >
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </fieldset>
          </div>
        </form>
      </div>
      <div class="modal-footer gap-3 px-4y">
        <button (click)="OnCloseChoiceModal()" type="button" class="btn btn-secondary px-2">Annuler</button>
        <button type="submit" (click)="onSubmitSelection()" class="btn btn-primary px-2">Valider</button>

      </div>
    </div>
  </div>
</div>
