<div class="card">

    <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

        <ng-template pTemplate="header">
            <tr>
                <th style="color: var(--secondary-color);">N° commandes</th>
                <th style="color: var(--secondary-color);">Clients</th>
                <th style="color: var(--secondary-color);">Chauffeurs</th>
                <th style="color: var(--secondary-color);">Date</th>
                <th style="color: var(--secondary-color);">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataList>
            <tr>
                <td>
                      <span class="ml-1 vertical-align-middle">
                        {{ dataList.commandeClient?.NumCommande || dataList.commandeGratuite?.NumCommande || dataList.venteChine?.numVenteChine}}
                    </span>
                </td>
              <td>
                   <span class="ml-1 vertical-align-middle">
                         {{ dataList.clientALivrer.raisonSocial || dataList.clientALivrer.nomEtablissement  }}
                    </span>
              </td>
                <td>
                     <span class="ml-1 vertical-align-middle">
                         {{
                         (dataList.venteChine)
                           ? dataList.venteChine.commercial?.nom + ' ' + dataList.venteChine.commercial?.prenoms
                           : (dataList.transporteur?.nom && dataList.transporteur?.prenoms)
                             ? dataList.transporteur.nom + ' ' + dataList.transporteur.prenoms
                             : 'N/A'
                       }}

                       </span>
                </td>
                <td>
                      <span class="ml-1 vertical-align-middle">
                         {{ dataList.createdAt |date }}
                    </span>
                </td>
                <td>
                    <tr class=" gap-3">
                        <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-eye text-secondary"></i></td>
                    </tr>

                    </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Aucun élément trouvé.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="isModalOpen" class="custom-modal">
  <div
    class="modal-dialog modal-dialog-centered"

  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Détails récuperation</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <div
        class="modal-body"
        style="padding: 20px; max-height: 70vh; overflow-y: auto"
      >
        <div class="row">
          <fieldset class="row border my-1" *ngIf="operation == 'edit'">
            <legend style="font-size: 13px" class="text-secondary">
              Numero Commande :  {{ updateData.commandeClient?.NumCommande || updateData.commandeGratuite?.NumCommande || updateData.venteChine?.NumCommande}} du
              {{ updateData.createdAt | date }}
            </legend>
            <div class="row">
              <div class="col-md-4">
                <strong>Dépot : </strong>
                <span>
                  {{ updateData.depot?.nomDepot }}
                </span>
              </div>
              <div class="col-md-4">
                <strong>Motif : </strong>
                <span>
                 {{
                    updateData?.returnType
                  }}
                </span>
              </div>
              <div class="col-md-4">
                <strong>Statut : </strong>
                <span>
                  {{
                    updateData?.commandeClient?.statut ||
                    updateData?.commandeGratuite?.statut ||
                    updateData?.venteChine?.statut ||
                    ''
                  }}
                </span>
              </div>
              <div class="col-md-4">
                <strong>Vente : </strong>
                <span>
                 {{
                    updateData?.fromTo
                  }}
                </span>
              </div>
<!--              <div class="col-md-4 text-bg-primary">-->
<!--                <strong>Montant à perçevoir: </strong>-->
<!--                <span>{{ updateData.transaction?.montantAPercevoir |currency:'XOF'}}</span>-->
<!--              </div>-->
<!--              <div class="col-md-4 text-bg-primary">-->
<!--                <strong>Montant perçu : </strong>-->
<!--                <span>{{ updateData.transaction?.montantPercu |currency:'XOF'}}</span>-->
<!--              </div>-->

            </div>
          </fieldset>

          <fieldset class="row border my-2" *ngIf="operation == 'edit'">
            <legend style="font-size: 13px" class="text-secondary">
              Informations du client
            </legend>
            <div class="row">
              <div class="col-md-4">
                <strong>Groupe de client : </strong>
                <span>{{ updateData.client ? updateData.client?.groupeClient?.nomGroupe || updateData.client?.GroupeClient?.nomGroupe : ''}}</span>
              </div>
              <div class="col-md-4">
                <strong>Type de client : </strong>
                <span>{{ updateData.clientALivrer.role}}</span>
              </div>
              <div class="col-md-4">
                <strong>Établissement : </strong>
                <span>{{
                    updateData.clientALivrer?.raisonSocial
                      ? updateData.clientALivrer?.raisonSocial
                      : updateData.clientALivrer?.nomEtablissement
                  }}</span>
              </div>
            </div>
          </fieldset>
          <fieldset class="row border my-2">
            <legend style="font-size: 13px" class="text-secondary">
              Emballages retournés
            </legend>
            <table class="table table-bordered">
              <thead class="table-success">
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Type</th>
                <th scope="col">Désignation</th>
                <th scope="col">Conditionnement</th>
                <th scope="col">Quantité</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of updateData.articles">
                <td>{{ item.produit.code }}</td>
                <td>{{ item.typeArticle }}</td>
                <td>{{ item.produit.libelle }}</td>
                <td>{{ item.produit.condition }}</td>
                <td>{{ item.quantity }}</td>
              </tr>
              </tbody>
            </table>
          </fieldset>
<!--          <fieldset class="row border my-2">-->
<!--            <legend style="font-size: 13px" class="text-secondary">-->
<!--              Articles Chargés-->
<!--            </legend>-->
<!--            <table class="table table-bordered">-->
<!--              <thead class="table-success">-->
<!--              <tr>-->
<!--                <th scope="col">Code</th>-->
<!--                <th scope="col">Désignation</th>-->
<!--                <th scope="col">Conditionnement</th>-->
<!--                <th scope="col">Quantité</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr *ngFor="let item of (updateData?.paiementsCommandeClient?.articles || updateData?.paiementsCommandeGratuit?.articles ||  updateData?.paiementsVente?.articles) || []">-->
<!--                <td>{{ item.liquide.code }}</td>-->
<!--                <td>{{ item.liquide.libelle }}</td>-->
<!--                <td>{{ item.liquide.condition }}</td>-->
<!--                <td>{{ item.quantite }}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </fieldset>-->
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer gap-3 px-4">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="OnCloseModal()"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>




