<!-- Navigation -->
<nav class="nav nav-pills flex-column flex-sm-row gap-1 border-bottom">

    <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'gestvisit'"
      (click)="activeElement('gestvisit')">Gestion des visites</a>
  
      <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'svisite'"
      (click)="activeElement('svisite')">Suivi des visites</a>
  
      <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'ventechine'"
      (click)="activeElement('ventechine')">Vente chine</a>
  
  </nav>
  
  <div class="tab-content mt-3">
    <div *ngIf="activeTab === 'gestvisit'" class="tab-pane fade show active">
      <app-gestionvisite></app-gestionvisite>
    </div>
  
    <div *ngIf="activeTab === 'svisite'" class="tab-pane fade show active">
      <app-suivivisite></app-suivivisite>
    </div>
  
    <div *ngIf="activeTab === 'ventechine'" class="tab-pane fade show active">
      
     </div> 
  
     
  </div>