.modal-dialog{
  max-width: 45em;
  min-width: auto;
}
strong,span{
  font-size: 13px;
}
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}
legend{
  font-size: 16px;
}
.modal-dialog {
  background-color: white;
  border-radius: 0.3rem;
  width: 45em;
  max-width: 45em;
  padding: 1rem;
}

.modal-header, .modal-body, .modal-footer {
  padding: 1rem;
}

.btn-close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}
.p-fluid .p-inputtext {
  width: 8em !important;
  height: 2.5rem;
}

.p-column-filter-menu-button {
  display: none; /* Masquer l'icône de filtre */
}

/* Ajuster l'espacement si nécessaire après suppression de l'icône */
.p-column-filter {
  padding-right: 0; /* Supprime l'espace réservé à l'icône */
}
.label-fixed-width {
  min-width: 10px;
}

// .modal {
//   background-color: white;
//   border-radius: 8px;
//   padding: 20px;
//   width: 500px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   margin: auto;
// }

// .modal-header {
//   display: flex;
//   align-items: center;
//   margin-bottom: 20px;
// }

// .modal-header .icon {
//   width: 24px;
//   height: 24px;
//   margin-right: 10px;
// }

// .details-grid {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 10px;
// }

// .detail-item {
//   font-size: 14px;
// }

// .photo-preview {
//   height: 5rem;
//   width: 5rem;
//   border-radius: 100%;
// }

.modal-footer {
  text-align: center;
  // margin-top: 20px;
}

.close-button {
  background-color: #78c67e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.key {
  width: 120px; /* Fixe la largeur des clés */
  text-align: left; /* Aligne le texte des clés à gauche */
  display: inline-block; /* Maintient la structure alignée */
}

.value {
  flex: 1; /* Permet à la valeur de s'étendre pour occuper l'espace disponible */
  text-align: left; /* Aligne le texte des valeurs à gauche */
}
.custom-modal .modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-modal .modal-header h5 {
  font-weight: bold;
  margin: 0;
}

.custom-modal .photo-preview {
  width: 100%;
  // max-width: 150px;
  height: 200 !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-modal .zone-livraison {
  font-size: 1.1rem;
  color: #333;
}

.custom-modal ul {
  padding: 0;
  list-style: none;
}

.custom-modal ul li {
  margin-bottom: 10px;
}

.custom-modal ul li strong {
  display: inline-block;
  width: 150px;
  color: #495057;
}

.custom-modal .modal-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.custom-modal .btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.custom-modal .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

strong{
  font-size: 13px;
}
span{
  font-size: 13px;
}
