<div
  class="gap-2 d-flex align-items-center mb-3"
  style="cursor: pointer"
  (click)="goBack()"
>
  <i style="font-size: 18px" class="fas fw-bold fa-chevron-left me-2"></i>
  <h4 class="fw-bold mb-0">Revendeurs</h4>
</div>
<div class="card">
  <div class="d-flex justify-content-end py-3">
    <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">
      Créer un revendeur
    </button>
  </div>
  <p-table
    [styleClass]="'p-datatable-sm'"
    #dt2
    [value]="dataList"
    dataKey="id"
    [rows]="8"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)">Ref client</th>
        <th style="color: var(--secondary-color)">Agent</th>
        <th style="color: var(--secondary-color)">Raison sociale</th>
        <th style="color: var(--secondary-color)">Gérant</th>
        <th style="color: var(--secondary-color)">Propriétaire</th>
        <th style="color: var(--secondary-color)">Role</th>
        <th style="color: var(--secondary-color)">Groupe client</th>
        <th
          class="d-flex justify-content-center"
          style="color: var(--secondary-color)"
        >
          Actions
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.codeClient }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.agentCommercial }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.raisonSocial }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.nomGerant }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.nomProprietaire }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.role }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.groupeClient.nomGroupe }}
          </span>
        </td>
        <td>
          <tr class="d-flex justify-content-center gap-3">
            <td>
              <i
                (click)="OnEdit(dataList)"
                style="cursor: pointer"
                class="fas fa-edit text-secondary fw-bold"
              ></i>
            </td>
            <td>
              <i
                (click)="OnDelete(dataList.id)"
                style="cursor: pointer"
                class="fas fa-trash-alt text-danger fw-bold"
              ></i>
            </td>
          </tr>
        </td></tr
    ></ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun article trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="isModalOpen" class="custom-modal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div
          class="d-flex justify-content-center align-items-center"
          style="
            background-color: #dbffe8;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
          "
        >
          <i class="fas fa-box-check text-success fs-4"></i>
        </div>
        <h1 class="modal-title fs-5 ms-3">Création de revendeur</h1>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="OnCloseModal()"
        ></button>
      </div>
      <div class="modal-body" style="max-height: 70vh; overflow-y: auto">
        <form [formGroup]="revendeurForm" (ngSubmit)="onSubmit()">
          <!-- TYPE DE CLIENT, CODE APPLICATION, CATEGORIE -->
          <div class="row mb-3">
            <div class="col-md-6 col-lg-6">
              <label for="groupeClientId" class="form-label"
                >Type de Client</label
              >
              <ng-select
                class="form-control"
                [items]="clientTypes"
                bindLabel="nomGroupe"
                bindValue="id"
                formControlName="groupeClientId"
                [searchable]="true"
              >
              </ng-select>
            </div>
          
          </div>

          <!-- REFERENCES -->
          <fieldset class="border p-3 mb-3">
            <legend class="float-none w-auto px-2">Références</legend>
            <div class="row">
              <div class="col-md-6">
                <label for="codeClient" class="form-label">Code Client</label>
                <input
                  type="text"
                  class="form-control"
                  id="codeClient"
                  formControlName="codeClient"
                  placeholder="Entrez le code client"
                />
              </div>
              <div class="col-md-6">
                <label for="userLogin" class="form-label">User Login</label>
                <input
                  type="text"
                  class="form-control"
                  id="userLogin"
                  formControlName="userLogin"
                  placeholder="Entrez le login"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="numeroRegistre" class="form-label"
                  >N° Registre de commerce</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="numeroRegistre"
                  formControlName="numeroRegistre"
                  placeholder="Entrez le numéro"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="raisonSociale" class="form-label"
                  >Raison sociale</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="raisonSociale"
                  formControlName="raisonSocial"
                  placeholder="Entrez la raison sociale"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="agentCommercial" class="form-label"
                  >Agent commercial</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="agentCommercial"
                  formControlName="agentCommercial"
                  placeholder="Entrez l'agent"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="contact" class="form-label">Contact</label>
                <input
                  type="text"
                  class="form-control"
                  id="contact"
                  formControlName="contact"
                  placeholder="Entrez le contact"
                />
              </div>
            </div>
          </fieldset>

          <!-- ADRESSE -->
          <fieldset class="border p-3 mb-3">
            <legend class="float-none w-auto px-2">Adresse</legend>
            <div class="row">
              <div class="col-md-6">
                <label for="latitude" class="form-label">latitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="latitude"
                  formControlName="latitude"
                  placeholder="Entrez la latitude"
                />
              </div>
              <div class="col-md-6">
                <label for="longitude" class="form-label">longitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="longitude"
                  formControlName="longitude"
                  placeholder="Entrez la longitude"
                />
              </div>
              <div class="col-md-6">
                <label for="telephone" class="form-label">Téléphone</label>
                <input
                  type="text"
                  class="form-control"
                  id="telephone"
                  formControlName="telephone"
                  placeholder="Entrez le téléphone"
                />
              </div>
              <div class="col-md-6">
                <label for="depot" class="form-label">Dépôt</label>
                <!-- <select
                  class="form-select"
                  id="depot"
                  formControlName="depotId"
                >
                  <option *ngFor="let depot of depots" [value]="depot.id">
                    {{ depot.nomDepot }}
                  </option>
                </select> -->
                <ng-select
                  class="form-control"
                  [items]="depots"
                  bindLabel="nomDepot"
                  bindValue="id"
                  (change)="onDepotChange($event)"
                  formControlName="depotId"
                  [searchable]="true"
                >
                </ng-select>
              </div>
              <!-- <div class="col-md-6 mt-3">
                  <label for="localite" class="form-label">Localité</label>
                  <select class="form-select" id="localite" formControlName="localiteId">
                    <option *ngFor="let loc of localites" [value]="loc">{{ loc }}</option>
                  </select>
                </div> -->
              <div class="col-md-6">
                <label for="zone" class="form-label">Zone de livraison</label>
                <!-- <select
                  class="form-select"
                  id="zone"
                  formControlName="zoneDeLivraisonId "
                >
                  <option *ngFor="let zone of zoneLivraison" [value]="zone.id">
                    {{ zone.nomZone }}
                  </option>
                </select> -->
                <ng-select
                  class="form-control"
                  [items]="zoneLivraison"
                  bindLabel="nomZone"
                  bindValue="id"
                  formControlName="zoneDeLivraisonId"
                  [searchable]="true"
                >
                </ng-select>
              </div>
            </div>
          </fieldset>

          <!-- GESTION -->
          <fieldset class="border p-3 mb-3">
            <legend class="float-none w-auto px-2">Gestion</legend>
            <div class="row">
              <div class="col-md-6">
                <label for="nomProprietaire" class="form-label"
                  >Nom du propriétaire</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nomProprietaire"
                  formControlName="nomProprietaire"
                  placeholder="Entrez le nom"
                />
              </div>
              <div class="col-md-6">
                <label for="telProprietaire" class="form-label"
                  >Tel du propriétaire</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="telProprietaire"
                  formControlName="telephoneProprietaire"
                  placeholder="Entrez le téléphone"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="nomGerant" class="form-label">Nom du gérant</label>
                <input
                  type="text"
                  class="form-control"
                  id="nomGerant"
                  formControlName="nomGerant"
                  placeholder="Entrez le nom"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="telGerant" class="form-label">Tel du gérant</label>
                <input
                  type="text"
                  class="form-control"
                  id="telGerant"
                  formControlName="telephoneGerant"
                  placeholder="Entrez le téléphone"
                />
              </div>
            </div>
          </fieldset>

          <!-- AUTRES -->
          <fieldset class="border p-3 mb-3">
            <legend class="float-none w-auto px-2">Autres</legend>
            <div class="row">
              <div class="col-md-6">
                <label for="quantiteMinimum" class="form-label"
                  >Quantité minimum à commander</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="quantiteMinimum"
                  formControlName="quantiteMinimumACommander"
                  placeholder="Entrez la quantité"
                />
              </div>
              <div class="col-md-6">
                <label for="compteContribuable" class="form-label"
                  >N° Compte contribuable</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="compteContribuable"
                  formControlName="numeroCompteContribuable"
                  placeholder="Entrez le numéro"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="familleProduit" class="form-label"
                  >Famille de produit (Produit favoris)</label
                >
                <!-- <select
                  class="form-select"
                  id="familleProduit"
                  formControlName="familleProduitId"
                >
                  <option
                    *ngFor="let produit of ListGroupesArticles"
                    [value]="produit.id"
                  >
                    {{ produit.libelle }}
                  </option>
                </select> -->
                <ng-select
                  class="form-control"
                  [items]="ListGroupesArticles"
                  bindLabel="libelle"
                  bindValue="id"
                  formControlName="familleProduitId"
                  [searchable]="true"
                >
                </ng-select>
              </div>
            </div>
          </fieldset>

          <!-- FOOTER -->
          <div class="modal-footer gap-3 px-4">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="OnCloseModal()"
            >
              Annuler
            </button>
            <button type="submit" [disabled]="revendeurForm.invalid" class="btn btn-primary">
              Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
