<div class="card">
 
    <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

        <ng-template pTemplate="header">
            <tr>
                <th style="color: var(--secondary-color);">N° commandes</th>
                <th style="color: var(--secondary-color);">Clients</th>
                <th style="color: var(--secondary-color);">Chauffeurs</th>
                <th style="color: var(--secondary-color);">Date RDV</th>
                <th style="color: var(--secondary-color);">Immatriculation camion</th>
                <th style="color: var(--secondary-color);">Nombre de casier</th>
                <th style="color: var(--secondary-color);">Motif</th>
                <th style="color: var(--secondary-color);">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataList>
            <tr>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.image }} -->
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.image }} -->
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.image }} -->
                    </span>
                </td>
                <td>
                    <!-- {{ dataList.libelle }} -->
                </td>
                <td>
                    <!-- {{ dataList.libelle }} -->
                </td>
                <td>
                    <!-- {{ dataList.libelle }} -->
                </td>
                <td>
                    <!-- {{ dataList.libelle }} -->
                </td>
                <td>
                    <tr class="d-flex justify-content-center gap-3">
                        <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-eye text-secondary"></i></td>
                    </tr>
        
                    </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Aucun élément trouvé.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


