<div
  class="gap-2 d-flex align-items-center mb-3"
  style="cursor: pointer"
  (click)="goBack()"
>
  <i style="font-size: 18px" class="fas fw-bold fa-chevron-left me-2"></i>
  <h4 class="fw-bold mb-0">Livraisons</h4>
</div>

<div class="card">
  <div class="d-flex justify-content-end py-3">
    <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">
      Saisir un regroupement
    </button>
  </div>
  <p-table
    [styleClass]="'p-datatable-sm'"
    #dt2
    [value]="dataList"
    dataKey="id"
    [rows]="8"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)">Réference client</th>
        <th style="color: var(--secondary-color)">Raison sociale</th>
        <th style="color: var(--secondary-color)">Entrepôt</th>
        <th style="color: var(--secondary-color)">N° commande</th>
        <th style="color: var(--secondary-color)">Montant (FCFA)</th>
        <th style="color: var(--secondary-color)">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.refclient }}
          </span>
        </td>
        <td>
          {{ dataList.raisonsociale }}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.localite }}
          </span>
        </td>
        <td>
          {{ dataList.statut }}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.prenom }}
          </span>
        </td>

        <td>
          <tr class="d-flex justify-content-center gap-3">
            <td>
              <i
                (click)="OnView(dataList)"
                style="cursor: pointer"
                class="fas fa-eye text-secondary"
              ></i>
            </td>
            <td>
              <i
                (click)="OnDelete(dataList.id)"
                style="cursor: pointer"
                class="fas fa-trash-alt text-danger"
              ></i>
            </td>
          </tr>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucune commande trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal creation -->
<!-- Modal -->

<div *ngIf="isModalOpen" class="custom-modal">
  <div
    class="modal-dialog modal-dialog-centered"
    style="width: 90%; max-width: 1200px"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Regroupement</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <div
        class="modal-body"
        style="padding: 20px; max-height: 70vh; overflow-y: auto"
      >
        <div class="row">
          <div class="col-md-7">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="zone" class="form-label">Zone*</label>
                <select id="zone" class="form-select">
                  <option value="zone1">Zone Bingerville</option>
                </select>
              </div>
            </div>

            <table class="table table-bordered table-hover">
              <thead class="table-success">
                <tr>
                  <th>Commande</th>
                  <th>Raison sociale</th>
                  <th>Casier</th>
                  <th>Situation géographique</th>
                  <th>Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2846</td>
                  <td>DEPOT WINNER KING YEO NAMOGO</td>
                  <td>20</td>
                  <td>Bingerville</td>
                  <td>05/12/2024 13:30:32</td>
                  <td>
                    <input type="checkbox" checked />
                  </td>
                </tr>
                <tr>
                  <td>2845</td>
                  <td>DEPOT WINNER KING YEO NAMOGO</td>
                  <td>131</td>
                  <td>Bingerville</td>
                  <td>05/12/2024 13:27:38</td>
                  <td>
                    <input type="checkbox" checked />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-5">
            <div class="card">
              <div class="card-header">
                <h6 class="mb-0">Informations sur le regroupement</h6>
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <label for="regroupement" class="form-label"
                    >Regroupements*</label
                  >
                  <input
                    type="text"
                    id="regroupement"
                    class="form-control"
                    value="BL2785917334"
                    readonly
                  />
                </div>
                <div class="mb-3">
                  <label for="zoneLivraison" class="form-label"
                    >Zones de livraison</label
                  >
                  <input
                    type="text"
                    id="zoneLivraison"
                    class="form-control"
                    value="ZONE BINGERVILLE"
                    readonly
                  />
                </div>
                <div class="mb-3">
                  <label for="palettes" class="form-label">Palettes</label>
                  <input
                    type="number"
                    id="palettes"
                    class="form-control"
                    value="20"
                    readonly
                  />
                </div>
                <div class="mb-3">
                  <label for="transporteur" class="form-label"
                    >Transporteur</label
                  >
                  <select id="transporteur" class="form-select">
                    <option>Sélectionner un transporteur</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="chauffeur" class="form-label">Chauffeur</label>
                  <select id="chauffeur" class="form-select">
                    <option>Sélectionner un véhicule</option>
                  </select>
                </div>
                <div>
                  <label for="totalPalettes" class="form-label"
                    >Total Palettes</label
                  >
                  <input
                    type="number"
                    id="totalPalettes"
                    class="form-control"
                    value="0"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer gap-3 px-4">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="OnCloseModal()"
        >
          Annuler
        </button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Valider
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal détail -->
<!-- Modal -->
<div *ngIf="isModalOpenDetail" class="custom-modal">
  <div
    class="modal-dialog modal-dialog-centered"
    style="width: 90%; max-width: 1200px"
  >
    <div class="modal-content">
      <!-- Header -->
      <div
        class="modal-header"
      >
        <h5 class="modal-title text-success">Regroupement</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div
        class="modal-body"
        style="padding: 20px; max-height: 70vh; overflow-y: auto"
      >
        <div class="row">
          <!-- Regroupement et Zone -->
          <div class="col-md-12 d-flex mb-3">
            <div class="me-3">
              <label for="numRegroupement" class="form-label"
                >N° Regroupement</label
              >
              <input
                type="text"
                id="numRegroupement"
                class="form-control"
                value="cBL81380173349686311Z"
                readonly
              />
            </div>
            <div>
              <label for="zoneRegroupement" class="form-label">Zone</label>
              <input
                type="text"
                id="zoneRegroupement"
                class="form-control"
                value="ZONE ANONO"
                readonly
              />
            </div>
          </div>

          <!-- Palette et Casier -->
          <div class="col-md-12 d-flex mb-3">
            <div class="me-3">
              <input type="number" class="form-control" value="1" readonly />
              <small>Palette et 12</small>
            </div>
            <div class="me-3">
              <input type="number" class="form-control" value="1" readonly />
              <small>Palette et 53</small>
            </div>
            <div class="me-3">
              <input type="number" class="form-control" value="0" readonly />
              <small>Palette et 1</small>
            </div>
          </div>

          <!-- Table des commandes -->
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead class="table-success">
                <tr>
                  <th>Raison sociale</th>
                  <th>DESPERADOS 33 CL</th>
                  <th>COCA COLA RGB 60 CL</th>
                  <th>HEINEKEN 33 CL</th>
                  <th>IVOIRE 60 CL</th>
                  <th>RHINO ENERGY 33 CL</th>
                  <th>IVOIRE BLACK 60 CL</th>
                  <th>HEINEKEN 50 CL</th>
                  <th>FANTA RGB 60 CL</th>
                  <th>COCA COLA 30 CL</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>NDRI AUDREY</td>
                  <td>5</td>
                  <td>3</td>
                  <td>8</td>
                  <td>11</td>
                  <td>7</td>
                  <td>9</td>
                  <td>1</td>
                  <td>1</td>
                  <td>0</td>
                  <td>45</td>
                </tr>
                <tr>
                  <td>ELOISE EASD</td>
                  <td>0</td>
                  <td>5</td>
                  <td>7</td>
                  <td>0</td>
                  <td>5</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>2</td>
                  <td>19</td>
                </tr>
                <tr>
                  <td>S/D MARIE GRACE</td>
                  <td>15</td>
                  <td>0</td>
                  <td>15</td>
                  <td>15</td>
                  <td>10</td>
                  <td>10</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>65</td>
                </tr>
                <tr>
                  <td>REHOBOTH ANONO</td>
                  <td>7</td>
                  <td>0</td>
                  <td>7</td>
                  <td>4</td>
                  <td>3</td>
                  <td>3</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>LOUISE BAMBA</td>
                  <td>5</td>
                  <td>4</td>
                  <td>8</td>
                  <td>5</td>
                  <td>7</td>
                  <td>5</td>
                  <td>0</td>
                  <td>1</td>
                  <td>0</td>
                  <td>37</td>
                </tr>
              </tbody>
              <tfoot class="table-success">
                <tr>
                  <td>Total</td>
                  <td>32</td>
                  <td>12</td>
                  <td>45</td>
                  <td>35</td>
                  <td>32</td>
                  <td>30</td>
                  <td>1</td>
                  <td>1</td>
                  <td>7</td>
                  <td>195</td>
                </tr>
              </tfoot>
            </table>
          </div>

          <!-- Footer -->
          <div class="col-md-12 d-flex mt-3">
            <div class="me-3">
              <label for="camion" class="form-label">Camion</label>
              <input
                type="text"
                id="camion"
                class="form-control"
                value="734LJO1"
                readonly
              />
            </div>
            <div>
              <label for="chauffeur" class="form-label">Chauffeur</label>
              <input
                type="text"
                id="chauffeur"
                class="form-control"
                value="SEVERIN"
                readonly
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer gap-3 px-4">
        <button type="button" class="btn btn-secondary" (click)="closeDetailModal()">Annuler</button>
        <button type="button" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </div>
</div>
