<div
  class="gap-2 d-flex align-items-center mb-3"
  style="cursor: pointer"
  (click)="goBack()"
>
  <i style="font-size: 18px" class="fas fw-bold fa-chevron-left me-2"></i>
  <h4 class="fw-bold mb-0">Livraisons</h4>
</div>

<div class="card">
  <div class="d-flex justify-content-end py-3">
    <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">
      Faire un regroupement
    </button>
  </div>
  <p-table
    [styleClass]="'p-datatable-sm'"
    #dt2
    [value]="listRegroupements"
    dataKey="id"
    [rows]="8"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)">N° Regroupement</th>
        <th style="color: var(--secondary-color)">Nbre commandes</th>
        <th style="color: var(--secondary-color)">Conducteur</th>
        <th style="color: var(--secondary-color)">Montant (FCFA)</th>
        <th style="color: var(--secondary-color)">Statut</th>
        <th style="color: var(--secondary-color)">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.numRegroupement }}
          </span>
        </td>
        <td>
          {{ dataList.commandes.length }}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.transporteur.nom }}  {{ dataList.transporteur.prenoms }}
          </span>
        </td>
        <td>
          {{ getTotalGeneral(dataList.commandes) | number:'1.0-0' }}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
             {{ dataList.statut }}
          </span>
        </td>

        <td>
          <tr class="d-flex justify-content-center gap-3">
            <td>
              <i
                (click)="OnView(dataList)"
                style="cursor: pointer"
                class="fas fa-eye text-secondary"
              ></i>
            </td>
          </tr>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucune commande trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal creation -->
<!-- Modal -->

<div *ngIf="isModalOpen" class="custom-modal">
  <div
    class="modal-dialog modal-dialog-centered"

  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Regroupement</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <div
        class="modal-body"
        style="padding: 20px; max-height: 70vh; overflow-y: auto"
      >
        <div class="row">
          <div class="col-md-7">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="zone" class="form-label">Zone de livraison*</label>
                <ng-select
                  class="form-control"
                  [items]="listZone"
                  bindLabel="nomZone"
                  bindValue="id"
                  [searchable]="true"
                  (change)="onZoneChange($event)"
                >
                </ng-select>
              </div>
            </div>
            <div
              class="table-responsive"
              style="max-height: 400px; overflow-y: auto"
            >
              <table class="table table-bordered table-hover">
                <thead class="table-success">
                <tr>
                  <th>Commande</th>
                  <th>Établissements</th>
                  <th>Casier</th>
                  <th>Zone livraison</th>
                  <th>Date</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of filteredList; let i = index">
                  <td>{{ item.NumCommande }}</td>
                  <td> {{ item.client.nomEtablissement ? item.client.nomEtablissement : item.client.raisonSocial}}
                  </td>
                  <td>{{ getTotalQuantite(item.articles) }}</td>
                  <td>{{ item.client.zoneDeLivraison.nomZone }}</td>
                  <td>{{ item.createdAt|date }}</td>
                  <td class="">
                    <input
                      type="checkbox"
                      class="form-control-custom"
                      [disabled]="this.livraisonForm.controls['vehicule'].invalid"
                      [name]="'checkbox_' + i"
                      [(ngModel)]="item.isChecked"
                      (change)="onCheckboxChange(item)"
                    />

                  </td>
                </tr>
                <tr *ngIf="filteredList.length == 0" ><td colspan="6"><label class="text-center">Pas de commande en cours.</label></td></tr>
                </tbody>
              </table>
            </div>

          </div>

            <div class="col-md-5">
              <div class="card">
                <div class="card-header">
                  <h6 class="mb-0">Informations sur le regroupement</h6>
                </div>
                <div class="card-body">
                  <div class="row">
                    <!-- Première colonne -->
                    <div class="col-12">
                      <form [formGroup]="livraisonForm">
                        <div class="mb-3">
                          <label for="transporteur" class="form-label">Transporteur</label>
                          <ng-select
                            class="form-control"
                            [items]="listTransporteur"
                            bindLabel="displayName"
                            formControlName="transporteur"
                            bindValue="id"
                            [searchable]="true"
                          >
                          </ng-select>
                        </div>
                        <div class="mb-3">
                          <label for="chauffeur" class="form-label">Véhicule</label>
                          <ng-select
                            class="form-control"
                            [items]="listVehicule"
                            (change)="onVehiculeChange($event)"
                            bindLabel="displayName"
                            formControlName="vehicule"
                            bindValue="id"
                            [searchable]="true"
                          >
                          </ng-select>
                        </div>
                      </form>

                    </div>
                  </div>
                  <div class="row">
                    <table class="table table-bordered table-hover">
                      <thead class="table-success">
                      <tr><td colspan="1"><i class="fa-sharp fa-solid fa-truck-ramp-couch"></i></td><td colspan="2">{{cargaison}}/{{truckCapacity}}</td></tr>
                      <tr>
                        <th>Format</th>
                        <th>Palette</th>
                        <th>Casier</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of regroupementFinal | keyvalue">
                        <td>{{ item.key }}</td>
                        <td>{{item.value.palettes }}</td>
                        <td>{{item.value.casier }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer gap-3 px-4">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="OnCloseModal()"
        >
          Annuler
        </button>
        <button [disabled]="commandeList.length <=0 || cargaison >= truckCapacity || livraisonForm.invalid" type="submit" class="btn btn-primary" (click)="onSubmit()">
          Valider
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal détail -->
<!-- Modal -->
<div *ngIf="isModalOpenDetail" class="custom-modal">
  <div
    class="modal-dialog modal-dialog-centered"
    style="width: 90%; max-width: 1200px"
  >
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title text-success">Regroupement</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div
        class="modal-body"
        style="padding: 20px; max-height: 70vh; overflow-y: auto"
      >
        <div class="row">
          <!-- Regroupement et Zone -->
          <div class="col-md-12 d-flex mb-3 align-items-end">
            <div class="me-3">
              <label for="numRegroupement" class="form-label"
                >N° Regroupement</label
              >
              <input
                type="text"
                id="numRegroupement"
                class="form-control"
                [value]=updateData.numRegroupement
                readonly
              />
            </div>
            <div class="me-3">
              <label for="camion" class="form-label">Camion</label>
              <input
                type="text"
                id="camion"
                class="form-control"
                [attr.value]="updateData?.vehicule?.marque"
                readonly
              />
            </div>
            <div class="me-3">
              <label for="chauffeur" class="form-label">Chauffeur</label>
              <input
                type="text"
                id="chauffeur"
                class="form-control"
                [attr.value]="updateData?.transporteur?.nom + ' ' + updateData?.transporteur?.prenoms"
                readonly
              />
            </div>
            <div>
              <button
                type="button"
                class="btn btn-secondary px-4"
                (click)="UploadDoc(updateData)"
              >
                Imprimer
              </button>
            </div>
          </div>

          <div class="col-md-12 d-flex">

          </div>
        </div>
          <!-- Table des commandes -->
          <div class="col-md-12">

            <div class="row">
              <div id="accordionExample" class="accordion col-12 fieldset1" style="overflow-y: auto; max-height: 400px;">
                <div *ngFor="let item of updateData.commandes; let idx = index" class="accordion-item my-2">
                  <h2 class="accordion-header" id="heading{{idx}}">
                    <button
                      class="accordion-button collapsed "
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse' + idx"
                      aria-expanded="false"
                      [attr.aria-controls]="'collapse' + idx">
                      <div class="w-100 d-flex justify-content-between" >
                        <div class="d-flex flex-column">
                          <label class="text-secondary fw-bold">
                            {{ item.clientType }} - {{ item.clientInfo.nomEtablissement ? item.clientInfo.nomEtablissement : item.clientInfo.raisonSocial}}
                          </label>
                          <label class="ml-0">
                            Montant : {{ item.montantTotal | currency :'XOF' }}
                          </label>
                          <label class="ml-0 text-success">
                           {{ item.statutCommande }}
                          </label>
                        </div>

                        <div class="d-flex flex-column">
                          <label class="fw-light ">
                            {{item.type}} - {{item.numCommande}}
                          </label>
                          <label class="ml-0">
                            À livrer le :
                          </label>
                        </div>

                      </div>
                    </button>
                  </h2>
                  <div
                    id="collapse{{idx}}"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + idx"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <!-- Nested Fieldset -->
                      <fieldset class="row border my-2">
                        <legend style="font-size: 14px;" class="text-secondary">Articles</legend>
                        <table class="table">
                          <thead>
                          <tr>
                            <th scope="col"><label>Codes</label></th>
                            <th scope="col"><label>Désignations</label></th>
                            <th scope="col"><label>formats</label></th>
                            <th scope="col"><label>Quantité</label></th>
                            <th scope="col"><label>Coûts</label></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let article of item.articles; let i = index">
                            <td><label>{{article.liquide.code}}</label></td>
                            <td><label>{{ article.liquide.libelle }}</label></td>
                            <td><label>{{ article.liquide.format }}</label></td>
                            <td><label>{{ article.quantite }}</label></td>
                            <td>
                              <label>
                                {{ (+article.montantLiquide || 0) + (+article.montantEmballage || 0) | currency:'XOF' }}
                              </label>
                            </td>

                          </tr>
                          <tr *ngIf="item.articles.length === 0">
                            <td colspan="3" class="text-danger text-center">Pas d'article dans la commande</td>
                          </tr>
                          </tbody>
                        </table>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <div class="modal-footer gap-3 px-4">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeDetailModal()"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
