<div class="card">

  <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8"
           [totalRecords]="totalPages" [lazy]="true"
           [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color);">Numero de regroupement</th>
        <th style="color: var(--secondary-color);">Agent</th>
        <th style="color: var(--secondary-color);">Contact</th>
        <th style="color: var(--secondary-color);">Fonction</th>
        <th style="color: var(--secondary-color);">Véhicule</th>
        <th style="color: var(--secondary-color);">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          {{ dataList?.regroupementNumber || 'N/A' }}
        </td>
        <td>
                    <span class="ml-1 vertical-align-middle">
                    {{
                        (dataList.commercial)
                          ? dataList.commercial.nom + ' ' + dataList.commercial.prenoms
                          : (dataList.transporteur?.nom && dataList.transporteur?.prenoms)
                            ? dataList.transporteur.nom + ' ' + dataList.transporteur.prenoms
                            : 'N/A'
                      }}

                    </span>
        </td>
        <td>
          {{ dataList?.transporteur ? dataList?.transporteur.telephone : dataList.commercial?.telephone }}
        </td>
        <td>
          {{ dataList.transporteur?.role || dataList.commercial?.role }}
        </td>
        <td>
          <!--          {{ dataList?.vehicule?.marque || dataList.venteChine.vehicule.marque }}-->
        </td>
        <td>
      <tr class="d-flex justify-content-center gap-3">
        <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-eye text-secondary"></i></td>
      </tr>

      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun élément trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>


<div *ngIf="isModalOpen" class="custom-modal">
  <div
    class="modal-dialog modal-dialog-centered"

  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Détails regroupement emballage</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <div
        class="modal-body"
        style="padding: 20px; max-height: 70vh; overflow-y: auto"
      >
        <div class="row">
          <div class="d-flex justify-content-end py-3">
            <button
              type="button"
              class="btn btn-secondary px-4"
              (click)="PrintDoc(updateData)"
            >
              Imprimer
            </button>
          </div>
          <fieldset class="row border my-1">

            <div class="row">
              <div class="col-md-4">
                <strong>Transporteur : </strong>
                <span>
                   {{ updateData?.transporteur?.nom || updateData.commercial.nom }} {{ updateData?.transporteur?.prenoms || updateData.commercial.prenoms }}
                  </span>
              </div>
              <div class="col-md-4">
                <strong>Dépot : </strong>
                <span>
                    {{ updateData.depot?.nomDepot || 'NEANT' }}
                  </span>
              </div>
              <div class="col-md-4">
                <strong>Gérant: </strong>
                <span>
                    {{ updateData.depot?.gerant || 'NEANT' }}
                  </span>
              </div>

            </div>
          </fieldset>
          <div class="col-md-12">

            <div class="row">
              <div class="container">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Raison Sociale</th>
                    <th class="text-center" *ngFor="let article of allArticles">{{ article.libelle }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let retour of updateData.retours; let i = index">
                    <td>{{ retour.clientALivrer.raisonSocial || retour.clientALivrer.nomEtablissement }}</td>
                    <td class="text-center" *ngFor="let article of allArticles">
                      {{ getQuantity(retour, article.libelle) }}
                    </td>
                  </tr>
                  <tr class="font-weight-bold">
                    <td class="fw-bold">Total théorique</td>
                    <td class="text-center" *ngFor="let article of allArticles">
                      {{ article.expectedQuantity }}
                    </td>
                  <tr class="font-weight-bold">
                    <td class="fw-bold">Total physique</td>
                    <td class="text-center" *ngFor="let article of allArticles">
                      <input
                        [disabled]="updateData.inventaires.length > 0"
                        type="number"
                        [ngStyle]="{ 'color': article.receivedQuantity != article.expectedQuantity ? 'red' : 'green' }"
                        class="form-control-custom text-center"
                        [(ngModel)]="article.receivedQuantity"
                        min="0"
                      />
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer gap-3 px-4">
        <div class="modal-footer gap-3 px-4">
          <button
            *ngIf="updateData?.inventaires.length == 0"
            [disabled]="updateData?.regroupementStatut !=  Status.TERMINE"
            type="button"
            class="btn btn-primary"
            (click)="TerminerInventaire(updateData,allArticles)"
          >
            Enregistrer l'inventaire
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="OnCloseModal()"
          >
            Fermer
          </button>
          <button
            *ngIf="updateData?.regroupementStatut !=  Status.TERMINE"
            type="submit"
            class="btn btn-danger px-2"
            (click)="TerminerRegroupement(updateData)"
          >
            Terminer le ramassage
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
