<!--<div class="container-fluid flex-column min-vh-100 d-flex justify-content-center align-items-center">-->
<!--  <img style="width: 500px;" src="assets/image/armonyssansfond.png" alt="">-->
<!--  <h1 class="fw-bold text-primary my-5">Bienvenue !</h1>-->
<!--</div>-->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-white bg-secondary mb-3 p-2">
        <div class="card-header">Clients - Revendeur</div>
        <div class="card-body">
          <h5 class="card-title">{{ clients.revendeurs }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-secondary mb-3 p-2">
        <div class="card-header">Clients - Point de vente</div>
        <div class="card-body">
          <h5 class="card-title">{{ clients.pointsDeVente }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-secondary mb-3 p-2">
        <div class="card-header">Commandes en attente</div>
        <div class="card-body">
          <h5 class="card-title">{{ commandesClient.attente }} / {{commandesClient.total}}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-secondary mb-3 p-2">
        <div class="card-header">Ventes journalière</div>
        <div class="card-body">
          <h5 class="card-title">{{ vente.ventesEnCours }} / {{ vente.ventesEffectuees }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-stretch">
    <div class="col-md-6 d-flex">
      <ngx-charts-pie-chart
        class="w-100"
        [view]="view"
        [scheme]="colorScheme"
        [results]="articlesTop"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </div>

    <div class="col-md-6 d-flex">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="articles"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legendPosition]="legendPosition"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>

</div>
