<div class="container-fluid">
    <div class="row h-100">
      <div class="col-lg-6 d-flex align-items-center justify-content-center login-right">
        <div class="text-center text-white">
          <h1>Bienvenue</h1>
          <p>Accédez à votre espace personnel en toute simplicité.</p>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center bg-light">
        <div class="login-form w-100 p-4" style="max-width: 400px;">
          <h2 class="text-center mb-4">Mot de passe oublié ? </h2>
          <p class="mb-3 text-black-50 fs-7">Réinitialiser mon mot de passe</p>
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Adresse e-mail*</label>
              <input type="email" class="form-control" id="email" placeholder="Entrez votre e-mail">
            </div>
            <button type="submit" class="btn btn-default-button w-100" (click)="Verifier($event)">Verifier</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  