:root {
    /* Couleurs principales */
    --primary-color: #08AD36;
    --secondary-color: #000000;

    --accent-color: #82b1ff;
    --error-color: #ff5252;
    --success-color: #4caf50;
    --warning-color: #ffeb3b;
    --info-color: #2196f3;
  
    /* Couleurs de texte */
    --text-primary-color: #08AD36;
    --text-secondary-color: #757575;
    --text-on-primary: #ffffff;
  
  }
  