<!-- Navigation -->

<div class="gap-2 d-flex align-items-center mb-3">
    <i style="font-size: 18px;" class="fas fw-bold fa-chevron-left me-2" (click)="goBack()"></i>
    <h4 class="fw-bold mb-0">Utilisateurs</h4>
  </div>
<nav class="nav nav-pills flex-column flex-sm-row gap-1 border-bottom">
    <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'profilutilisateur'"
        (click)="activeElement('profilutilisateur')">Profils utilisateurs</a>

    <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'utilisateur'"
        (click)="activeElement('utilisateur')">Utilisateurs</a>

    <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'permission'"
        (click)="activeElement('permission')">Permissions</a>
</nav>

<div class="tab-content mt-3">
    <div *ngIf="activeTab === 'profilutilisateur'" class="tab-pane fade show active">
        <app-profil-utilisateur></app-profil-utilisateur>
    </div>

    <div *ngIf="activeTab === 'utilisateur'" class="tab-pane fade show active">
        <app-utilisateur></app-utilisateur>
    </div>
    <div *ngIf="activeTab === 'permission'" class="tab-pane fade show active">
        <app-utilisateur></app-utilisateur>
    </div>
</div>