<div class="card">
   <span class="p-input-icon-left ml-auto d-flex align-items-center">
                    <i class="fas fa-search"></i>
                    <input style="width: 300px; border-radius: 7px;" pInputText type="text"
                           (keydown.enter)="filterGlobal($event)" placeholder="Recherche"/>
                </span>
  <p-table
    [styleClass]="'p-datatable-sm'"
    #dt2
    [totalRecords]="totalPages" [lazy]="true"
    [value]="dataList"
    dataKey="id"
    [rows]="8"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)">Commandes</th>
        <th style="color: var(--secondary-color)">Agent</th>
        <th style="color: var(--secondary-color)">Motif</th>
        <th style="color: var(--secondary-color)">Numéro SAP</th>
        <th style="color: var(--secondary-color)">Client</th>
        <th style="color: var(--secondary-color)">Montant à verser</th>
        <th style="color: var(--secondary-color)">Montant versé</th>
        <th style="color: var(--secondary-color)">Délai</th>
        <th style="color: var(--secondary-color)">Date d'écheance</th>
        <th style="color: var(--secondary-color)">Date création</th>
        <th style="color: var(--secondary-color)">Statut</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px">
            {{
              dataList?.paiementsCommandeClient?.length
                ? dataList.paiementsCommandeClient[0]?.NumCommande
                : dataList?.paiementsCommandeGratuit?.length
                ? dataList.paiementsCommandeGratuit[0]?.NumCommande
                : dataList?.paiementsVente?.length
                ? dataList.paiementsVente[0]?.venteChine.numVenteChine
                : dataList?.returnStock?.venteChine
                ? dataList?.returnStock?.venteChine?.numVenteChine
                : dataList?.returnStock?.commandeClient
                ? dataList?.returnStock?.commandeClient?.NumCommande
                : dataList?.returnStock?.commandeGratuite
                ? dataList?.returnStock?.commandeGratuite?.NumCommande
                : "N/A"
            }}
          </span>
        </td>
        <td>
          {{
            dataList?.paiementsCommandeClient?.length
              ? (dataList?.transporteur?.nom || "N/A") +
                " " +
                (dataList?.transporteur?.prenoms || "N/A")
              : dataList?.paiementsCommandeGratuit?.length
              ? (dataList?.transporteur?.nom || "N/A") +
                " " +
                (dataList?.transporteur?.prenoms || "N/A")
              : dataList?.paiementsVente?.length
              ? (dataList?.paiementsVente[0]?.commercial?.nom || "N/A") +
                " " +
                (dataList?.paiementsVente[0]?.commercial?.prenoms || "N/A")
              : dataList?.returnStock?.venteChine
              ? dataList?.returnStock?.venteChine?.commercial?.nom +
              dataList?.returnStock?.venteChine?.commercial?.prenoms :"N/A"
          }}
        </td>
        <td>
          {{ dataList?.motif }}
        </td>
        <td>
          {{ dataList?.client?.numeroSAP?.numeroSAP }}
        </td>
        <td>
          {{
            dataList?.client?.raisonSocial || dataList?.client?.nomEtablissement||
              dataList?.paiementsVente[0]?.pointdevente.nomEtablissement || "N/A"
          }}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList?.montantAPercevoir }}
          </span>
        </td>
        <td>
          {{ dataList?.montantPercu }}
        </td>
        <td>
          {{ dataList?.credit?.delaiReglement ||"N/A" }}
        </td>
        <td>
          {{ dataList?.credit?.dateEcheance | date :"dd/MM/yyyy HH:mm"  }}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList?.createdAt | date }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList?.statut }}
          </span>
        </td>
        <td>
          <tr class="d-flex justify-content-center gap-3">
            <!-- <td><i (click)="OnDelete(dataList.id)" style="cursor: pointer;"
                    class="fas fa-trash-alt text-danger"></i></td> -->
          </tr>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun élément trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal creation -->
<!-- Modal -->
<div *ngIf="isModalOpen" class="custom-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div
          class="d-flex justify-content-center align-items-center"
          style="
            background-color: rgb(219, 255, 232);
            border-radius: 3rem;
            width: 3rem;
            height: 3rem;
          "
        >
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>

        <h1 class="modal-title fs-5 ms-3" id="staticBackdropLabel">
          Paiement en attente
        </h1>
      </div>
      <div class="modal-body">
        <fieldset class="row border my-1" *ngIf="operation == 'edit'">
          <legend style="font-size: 14px" class="text-secondary">
            Information Client
          </legend>

          <div class="row">
            <div class="col-md-4">
              <strong>Client: </strong>
              <span>{{
                updateData?.client?.raisonSocial
                  ? updateData?.client?.raisonSocial
                  : updateData?.returnStock?.venteChineRetourStock.pointdevente
                      .nomEtablissement
              }}</span>
            </div>
            <div class="col-md-4">
              <strong>Localité: </strong>
              <span>{{ updateData?.client?.localite.nomLocalite }}</span>
            </div>
            <div class="col-md-4">
              <strong>Dépot: </strong>
              <span>{{ updateData?.client?.depot.nomDepot }}</span>
            </div>
          </div>

          <legend style="font-size: 14px" class="text-secondary">
            Informations agent
          </legend>
          <div class="row">
            <div class="col-md-4">
              <strong>Agent: </strong>
              <span
                >{{
                  updateData?.returnStock?.venteChineRetourStock.commercial
                    .nom +
                    " " +
                    updateData?.returnStock?.venteChineRetourStock.commercial
                      .prenoms
                }}
              </span>
            </div>
            <div class="col-md-4">
              <strong>Rôle : </strong>
              <span>{{ updateData?.livreurOuCommercial?.role }}</span>
            </div>
            <div class="col-md-4">
              <strong>Téléphone : </strong>
              <span>{{ updateData?.livreurOuCommercial?.telephone }}</span>
            </div>
            <div class="col-md-4">
              <strong>Capacité : </strong>
              <span>{{ updateData?.livreurOuCommercial?.capacite }}</span>
            </div>
          </div>
          <legend style="font-size: 14px" class="text-secondary">
            Autres informations
          </legend>
          <div class="row">
            <div class="col-md-4">
              <strong>Statut: </strong>
              <span>{{ updateData?.statut }}</span>
            </div>
            <div class="col-md-4">
              <strong>Motif : </strong>
              <span>{{ updateData?.motif }}</span>
            </div>
            <div class="col-md-4">
              <strong>Montant à percevoir : </strong>
              <span>{{ updateData?.montantAPercevoir }}</span>
            </div>
            <div class="col-md-4">
              <strong>Montant perçu : </strong>
              <span>{{ updateData?.montantPercu }}</span>
            </div>
            <div class="col-md-4">
              <strong>Type retour : </strong>
              <span>{{ updateData?.returnStock?.returnType }}</span>
            </div>
          </div>
        </fieldset>
        <fieldset class="row border my-2">
          <legend class="fs-6 text-primary">Articles</legend>
          <div
            class="table-responsive"
            style="max-height: 300px; overflow-y: auto"
          >
            <table class="table">
              <thead>
                <tr style="font-size: small">
                  <th scope="col">Code</th>
                  <th scope="col">Type article</th>
                  <th scope="col">Quantité</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  style="font-size: small"
                  *ngFor="
                    let item of updateData.returnStock?.articles;
                    let i = index
                  "
                >
                  <td>{{ item.productCode }}</td>
                  <td>{{ item.typeArticle }}</td>
                  <td>{{ item.quantity }}</td>
                </tr>
                <!-- Ajoutez d'autres lignes si nécessaire -->
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>

      <div class="modal-footer gap-3 px-4">
        <button
          (click)="OnCloseModal()"
          type="button"
          class="btn btn-secondary px-2"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
