<!-- Navigation -->
<div class="gap-2 d-flex align-items-center mb-3" style="cursor: pointer;" (click)="goBack()">
    <i style="font-size: 18px;" class="fas fw-bold fa-chevron-left me-2"></i>
    <h4 class="fw-bold mb-0">Commandes gratuites</h4>
</div>
<nav class="nav nav-pills flex-column flex-sm-row gap-1 border-bottom">

    <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'saisiecommande'"
        (click)="activeElement('saisiecommande')">Saisie commande</a>


    <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'suivicommmande'"
        (click)="activeElement('suivicommmande')">Suivi commande</a>

</nav>

<div class="tab-content mt-3">
    <div *ngIf="activeTab === 'saisiecommande'" class="tab-pane fade show active">
        <app-saisie-commande-gratuite></app-saisie-commande-gratuite>
    </div>

    <div *ngIf="activeTab === 'suivicommmande'" class="tab-pane fade show active">
        <app-suivi-commande-gratuite></app-suivi-commande-gratuite>
    </div>

</div>