<div class="card">

  <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8" [totalRecords]="totalPages"
           [lazy]="true"
           [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [globalFilterFields]="['code', 'libelle']"
           [globalFilterFields]="['code', 'libelle']" (onPage)="onPage($event)">
    <ng-template pTemplate="caption">
      <div class=" d-flex justify-content-between py-3">
                <span class="p-input-icon-left ml-auto d-flex align-items-center">
                    <i class="fas fa-search"></i>
                    <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Recherche"/>
                </span>
        <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">Créer un prix</button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color);">Produit</th>
        <th style="color: var(--secondary-color);">Catégorie</th>
        <th style="color: var(--secondary-color);">Quantité</th>
        <th style="color: var(--secondary-color);">Prix liquide</th>
        <th style="color: var(--secondary-color);">Prix consigné</th>
        <th style="color: var(--secondary-color);">Statuts</th>
        <th style="color: var(--secondary-color);">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td class="">
          {{ dataList.produit.libelle }}
        </td>
        <td class="">
          {{ dataList.typePrix.libelle }}
        </td>
        <td class="">
          {{ dataList.Quantite }}
        </td>
        <td class="">
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.PrixLiquide | number}}
                    </span>
        </td>
        <td class="">
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.PrixConsigne | number}}
                    </span>
        </td>
        <td class="">
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.statut }}
                    </span>
        </td>
        <td>
      <tr class="d-flex gap-3">
        <td><i (click)="OnEdit(dataList)" style="cursor: pointer;"
               class="fas fa-edit text-secondary"></i></td>
        <td><i (click)="OnDelete(dataList.id)" style="cursor: pointer;"
               class="fas fa-trash-alt text-danger"></i>
        </td>
      </tr>
      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun article trouvé!</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal creation -->
<!-- Modal -->
<div *ngIf="isModalOpen" class="custom-modal">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center"
             style="background-color: rgb(219, 255, 232); border-radius: 3rem; width: 3rem; height: 3rem;">
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>
        <h1 *ngIf="operation == 'create'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Création d'un
          prix</h1>
        <h1 *ngIf="operation == 'edit'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Modification du
          prix</h1>
      </div>

      <div class="modal-body">
        <form [formGroup]="prixForm">
          <div class="mb-3 d-flex justify-content-around align-items-center gap-3">
            <div class="d-flex align-items-center">
              <label for="produitId" class="form-label me-1 label-fixed-width">Produit</label>
              <p class="text-danger mb-0">*</p>
            </div>
            <select class="form-control form-select form-select-sm" formControlName="ProduitId"
                    aria-label=".form-select-sm example">
              <option value="" disabled selected>Choisir le produit</option>
              <option [value]="item.id" *ngFor="let item of dataListProduits">{{ item.libelle }}</option>
            </select>

          </div>
          <div class="mb-3 d-flex justify-content-around align-items-center gap-3">
            <div class="d-flex align-items-center">
              <label for="prixId" class="form-label me-1 label-fixed-width">Nom du prix</label>
              <p class="text-danger mb-0">*</p>
            </div>

            <select class=" form-control form-select form-select-sm" formControlName="PrixId"
                    aria-label=".form-select-sm example">
              <option value="" disabled selected>Choisir le nom du prix</option>
              <option [value]="item.id" *ngFor="let item of dataListTypesPrix">{{ item.libelle }}</option>

            </select>
          </div>
          <div class="mb-3 d-flex justify-content-around align-items-center gap-3">
            <div class="d-flex align-items-center">
              <label for="PrixLiquide" class="form-label me-1 label-fixed-width">Prix liquide</label>
              <p class="text-danger mb-0">*</p>
            </div>
            <input type="number" class="form-control" formControlName="PrixLiquide" id="PrixLiquide"
                   placeholder="Entrez prix liquide ">
          </div>
          <div class="mb-3 d-flex justify-content-around align-items-center gap-3">
            <div class="d-flex align-items-center">
              <label for="prixConsigne" class="form-label me-1 label-fixed-width">Prix consigne</label>
              <p class="text-danger mb-0">*</p>
            </div>
            <input type="number" class="form-control" formControlName="PrixConsigne" id="prixConsigne"
                   placeholder="Entrez prix de la consigne ">
          </div>
          <div class="mb-3 d-flex justify-content-around align-items-center gap-3">
            <div class="d-flex align-items-center">
              <label for="quantite" class="form-label me-1 label-fixed-width">Quantité</label>
              <p class="text-danger mb-0">*</p>
            </div>
            <input type="number" class="form-control" formControlName="Quantite" id="quantite"
                   placeholder="Entrez la quantité ">
          </div>


        </form>
      </div>
      <div class="modal-footer gap-3 px-4">
        <button (click)="OnCloseModal()" type="button" class="btn btn-secondary px-2">Annuler</button>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary px-2">Valider</button>
      </div>
    </div>
  </div>
</div>
