<div class="card">

  <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8"
           [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color);">Numero de commande</th>
        <th style="color: var(--secondary-color);">Agent</th>
        <th style="color: var(--secondary-color);">Date Rdv</th>
        <th style="color: var(--secondary-color);">Client</th>
        <!--                <th style="color: var(&#45;&#45;secondary-color);">Statut Rdv</th>-->
        <th style="color: var(--secondary-color);">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
           <span class="ml-1 vertical-align-middle">
            {{ dataList?.commandeClient?.NumCommande ||
           dataList?.commandeGratuite?.NumCommande ||
           dataList?.venteChine?.numVenteChine}}
          </span>
        </td>
        <td>
          {{
            (dataList.venteChine)
              ? dataList.venteChine.commercial.nom + ' ' + dataList.venteChine.commercial.prenoms
              : (dataList.transporteur?.nom && dataList.transporteur?.prenoms)
                ? dataList.transporteur.nom + ' ' + dataList.transporteur.prenoms
                : 'N/A'
          }}
        </td>
        <td>
                    <span class="ml-1 vertical-align-middle">
                         {{ dataList.appointmentDate | date }}
                    </span>
        </td>
        <td>
                    <span class="ml-1 vertical-align-middle">
                         {{
                        dataList.clientALivrer?.nomEtablissement ||
                        dataList.clientALivrer?.raisonSocial
                      }}
                    </span>
        </td>
        <td>
      <tr class="gap-3">
        <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-eye text-secondary"></i></td>
      </tr>

      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun élément trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>


<div *ngIf="isModalOpen" class="custom-modal">
  <div
    class="modal-dialog modal-dialog-centered"

  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Détails RDV</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <div
        class="modal-body"
        style="padding: 20px; max-height: 70vh; overflow-y: auto"
      >
        <div class="row">
          <fieldset class="row border my-1" *ngIf="operation == 'edit'">
            <legend style="font-size: 14px" class="text-secondary">
              Numero Commande : {{ updateData?.commandeClient?.NumCommande ||
            updateData?.commandeGratuite?.NumCommande ||
            updateData?.venteChine?.NumCommande}} du
              {{ updateData.createdAt | date }}
            </legend>
            <div class="row">
              <div class="col-md-4">
                <strong>Dépot : </strong>
                <span>{{ updateData.depot?.nomDepot }}</span>
              </div>
              <div class="col-md-4">
                <strong>Motif : </strong>
                <span>
                 {{
                    updateData?.returnType
                  }}
                </span>
              </div>
              <div class="col-md-4">
                <strong>Statut : </strong>
                <span>
                  {{
                    updateData?.commandeClient?.statut ||
                    updateData?.commandeGratuite?.statut ||
                    updateData?.venteChine?.statut
                  }}
                </span>
              </div>
              <div class="col-md-4">
                <strong>Vente : </strong>
                <span>
                 {{
                    updateData?.fromTo
                  }}
                </span>
              </div>
              <div class="col-md-4">
                <strong>Date de rendez-vous : </strong>
                <span>
                 {{
                    updateData?.appointmentDate | date
                  }}
                </span>
              </div>
<!--              <div class="col-md-4 text-bg-primary">-->
<!--                <strong>Montant à perçevoir: </strong>-->
<!--                <span>{{ updateData.transaction?.montantAPercevoir |currency:'XOF' }}</span>-->
<!--              </div>-->
<!--              <div class="col-md-4 text-bg-primary">-->
<!--                <strong>Montant perçu : </strong>-->
<!--                <span>{{ updateData.transaction?.montantPercu |currency:'XOF' }}</span>-->
<!--              </div>-->

            </div>
          </fieldset>

          <fieldset class="row border my-2" *ngIf="operation == 'edit'">
            <legend style="font-size: 14px" class="text-secondary">
              Informations du client
            </legend>
            <div class="row">
              <div class="col-md-4">
                <strong>Groupe de client :</strong>
                <span>{{ updateData.clientALivrer?.groupeClient?.nomGroupe || updateData.clientALivrer?.GroupeClient?.nomGroupe }}</span>
              </div>
              <div class="col-md-4">
                <strong>Type de client :</strong>
                <span>{{ updateData.clientALivrer?.role }}</span>
              </div>
              <div class="col-md-4">
                <strong>Propriétaire :</strong>
                <span>{{ updateData.clientALivrer?.nomProprietaire }}</span>
              </div>
              <div class="col-md-4">
                <strong>Gérant :</strong>
                <span>{{ updateData.clientALivrer?.nomGerant }}</span>
              </div>
              <div class="col-md-4">
                <strong>Établissement :</strong>
                <span>{{
                    updateData.clientALivrer?.nomEtablissement ||
                    updateData.clientALivrer?.raisonSocial
                  }}</span>
              </div>
              <div class="col-md-4">
                <strong>Contact Gérant :</strong>
                <span>{{ updateData.clientALivrer?.contactGerant }}</span>
              </div>
              <div class="col-md-4 mb-4">
                <strong>Téléphone proprietaire :</strong>
                <span>{{ updateData.clientALivrer?.telephoneProprietaire }}</span>
              </div>
            </div>
          </fieldset>
          <table class="table table-bordered">
            <thead class="table-success">
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Type</th>
              <th scope="col">Désignation</th>
              <th scope="col">Conditionnement</th>
              <th scope="col">Quantité</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of updateData.articlesRdv">
              <td>{{ item.productCode }}</td>
              <td>{{ item.typeArticle }}</td>
              <td>{{ item.libelle }}</td>
              <td>{{ item.condition }}</td>
              <td>{{ item.quantity }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer gap-3 px-4">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="OnCloseModal()"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>


