<div class="gap-2 d-flex align-items-center mb-3" style="cursor: pointer;" (click)="goBack()">
  <i style="font-size: 18px;" class="fas fw-bold fa-chevron-left me-2"></i>
  <h4 class="fw-bold mb-0">Clients OSR</h4>
</div>
<div class="card">
  <div class=" d-flex justify-content-end py-3">
    <button type="button" class="btn btn-secondary px-4" (click)="OnCreate()">Créer un client OSR</button>
  </div>
  <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8"
           [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color);">Etablissement</th>
        <th style="color: var(--secondary-color);">Zone de livraison</th>
        <th style="color: var(--secondary-color);">Statut</th>
        <th style="color: var(--secondary-color);">Contact</th>
        <th class="d-flex justify-content-center" style="color: var(--secondary-color);">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.nomEtablissement }}
          </span>

        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.zoneDeLivraison.nomZone }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.isValide ? 'Validé' : ' En attente' }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList.contactGerant }}
          </span>
        </td>
        <td>
      <tr class="d-flex justify-content-center gap-3">
        <td>
          <i [ngStyle]="{
                        'color': dataList.isValide ? 'gray' : '#08AD36',
                      }" (click)="OnValidate(dataList)" style="cursor: pointer;" class="fas fa-check fw-bold"></i>
        </td>
        <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-edit text-secondary fw-bold"></i></td>
        <td><i (click)="OnDelete(dataList.id)" style="cursor: pointer;"
               class="fas fa-trash-alt text-danger fw-bold"></i></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun article trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Modal creation -->
<!-- Modal -->
<div *ngIf="isModalOpen" class="custom-modal">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center"
             style="background-color: rgb(219, 255, 232); border-radius: 3rem; width: 3rem; height: 3rem;">
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>
        <h1 *ngIf="operation == 'create'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Création
          de client OSR</h1>
        <h1 *ngIf="operation == 'edit'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Modification de
          client OSR</h1>
      </div>
      <div class="modal-body">
        <form [formGroup]="clientosrForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="photo" class="form-label">Photo <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="photo" (change)="onFileSelected($event)"
                       formControlName="photo" placeholder="Entrez la photo">
              </div>
              <div class="mb-3">
                <label for="nom" class="form-label">Nom <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrez le nom">
              </div>
              <div class="mb-3">
                <label for="latitude" class="form-label">Latitude <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="latitude" formControlName="latitude"
                       placeholder="Entrez la latitude">
              </div>
              <div class="mb-3">
                <label for="contactGerant" class="form-label">Contact du gérant <span
                  class="text-danger">*</span></label>
                <input type="text" class="form-control" id="contactGerant" formControlName="contactGerant"
                       placeholder="Entrez le contact du gérant">
              </div>
              <!-- <div class="mb-3">
                  <label for="zoneLivraisonId" class="form-label">Zone de Livraison <span
                          class="text-danger">*</span></label>
                  <ng-select class="form-control" [items]="zoneLivraison" bindLabel="nomZone"
                      bindValue="id" formControlName="zoneLivraisonId" [searchable]="true">
                  </ng-select>
              </div> -->
              <div class="mb-3">
                <label for="groupeClientId" class="form-label">Groupe client <span class="text-danger">*</span></label>
                <ng-select class="form-control" [items]="grpClient" bindLabel="nomGroupe" bindValue="id"
                           formControlName="groupeClientId" [searchable]="true">
                </ng-select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="nomEtablissement" class="form-label">Nom d'établissement <span
                  class="text-danger">*</span></label>
                <input type="text" class="form-control" id="nomEtablissement" formControlName="nomEtablissement"
                       placeholder="Entrez le nom d'établissement">
              </div>
              <div class="mb-3">
                <label for="prenom" class="form-label">Prénom <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="prenom" formControlName="prenom"
                       placeholder="Entrez le prénom">
              </div>
              <div class="mb-3">
                <label for="longitude" class="form-label">Longitude <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="longitude" formControlName="longitude"
                       placeholder="Entrez la longitude">
              </div>
              <div class="mb-3">
                <label for="telephone" class="form-label">Téléphone <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="telephone" formControlName="telephone"
                       placeholder="Entrez le téléphone">
              </div>
              <!-- <div class="mb-3">
                  <label for="localiteId" class="form-label">Localité <span
                          class="text-danger">*</span></label>
                  <ng-select class="form-control" [items]="localite" bindLabel="nomLocalite"
                      bindValue="id" formControlName="localiteId" [searchable]="true">
                  </ng-select>
              </div> -->
              <div class="mb-3">
                <label for="depotId" class="form-label">Dépôt <span class="text-danger">*</span></label>
                <ng-select class="form-control" [items]="depots" (change)="onDepotChange($event)" bindLabel="nomDepot"
                           bindValue="id" formControlName="depotId" [searchable]="true">
                </ng-select>
              </div>
            </div>
          </div>
        </form>

      </div>


      <div class="modal-footer gap-3 px-4">
        <button (click)="OnCloseModal()" type="button" class="btn btn-secondary px-2">Annuler</button>
        <button *ngIf="operation == 'create' || operation == 'edit'" [disabled]="clientosrForm.invalid" type="submit"
                (click)="onSubmit()" class="btn btn-primary px-2">Valider
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalDetail" class="custom-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center"
             style="background-color: rgb(219, 255, 232); border-radius: 3rem; width: 3rem; height: 3rem;">
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>
        <h1 class="modal-title fs-5 ms-3" id="staticBackdropLabel">Détails client</h1>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-2">
              <!-- <strong>Photo:</strong> -->
              <img [src]="imageUrl" alt="Photo" class="photo-preview"/>
            </div>
            <div class="col-md-5">

              <div class="detail-item">
                <strong>Nom:</strong> {{ ClientOsrDetail.nom }}
              </div>
              <div class="detail-item">
                <strong>Prénom:</strong> {{ ClientOsrDetail.prenom }}
              </div>
              <div class="detail-item">
                <strong>Etablissement:</strong> {{ ClientOsrDetail.nomEtablissement }}
              </div>
              <div class="detail-item">
                <strong>Contact Gérant:</strong> {{ ClientOsrDetail.contactGerant }}
              </div>
            </div>
            <div class="col-md-5">
              <div class="detail-item">
                <strong>Téléphone:</strong> {{ ClientOsrDetail.telephone }}
              </div>
              <div class="detail-item">
                <strong>Zone de livraison:</strong> {{ ClientOsrDetail.zoneDeLivraison.nomZone }}
              </div>
              <div class="detail-item">
                <strong>Groupe Client:</strong> {{ ClientOsrDetail.GroupeClient.nomGroupe }}
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer gap-3 px-4" *ngIf="ClientOsrDetail.isValide">
          <button (click)="OnCloseDetailModal()" class="btn btn-primary px-2">Fermer</button>
        </div>
        <div class="modal-footer gap-3 px-4" *ngIf="!ClientOsrDetail.isValide">
          <button (click)="confirmValidateOperation(ClientOsrDetail)" class="btn btn-primary px-2">Valider</button>
        </div>
      </div>
    </div>
  </div>
