<div class="card">
  <p-table
    [styleClass]="'p-datatable-sm'"
    #dt2
    [value]="dataList"
    dataKey="id"
    [rows]="8"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)">Commandes</th>
        <th style="color: var(--secondary-color)">Agent</th>
        <th style="color: var(--secondary-color)">Motif</th>
        <th style="color: var(--secondary-color)">Numéro SAP</th>
        <th style="color: var(--secondary-color)">Client</th>
        <th style="color: var(--secondary-color)">Montant à verser</th>
        <th style="color: var(--secondary-color)">Montant versé</th>
        <th style="color: var(--secondary-color)">Date</th>
        <th style="color: var(--secondary-color)">Statut</th>
        <th style="color: var(--secondary-color)">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px">
            {{ dataList?.paiementsCommandeClient?.length ? dataList?.paiementsCommandeClient[0]?.NumCommande
            : dataList?.paiementsCommandeGratuit?.length ? dataList?.paiementsCommandeGratuit[0]?.NumCommande : ''}}
          </span>
        </td>
        <td>
          {{
            dataList?.paiementsCommandeClient?.length
              ? (dataList?.transporteur?.nom || '') + ' ' + (dataList?.transporteur?.prenoms || '')
              : dataList?.paiementsCommandeGratuit?.length
                ? (dataList?.transporteur?.nom || '') + ' ' + (dataList?.transporteur?.prenoms || '')
                : dataList?.paiementsVente?.length
                  ? (dataList?.paiementsVente[0]?.commercial?.nom || '') + ' ' + (dataList?.paiementsVente[0]?.commercial?.prenoms || '')
                  : ''
          }}
        </td>
        <td>
          {{
            dataList?.motif
              
          }}
        </td>
        <td>
          {{
            dataList?.client?.numeroSAP
              
          }}
        </td>
        <td>
          {{
            dataList?.client?.raisonSocial
              
          }}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList?.montantAPercevoir }}
          </span>
        </td>
        <td>
          {{ dataList?.montantPercu}}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList?.createdAt |date}}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">
            {{ dataList?.statut }}
          </span>
        </td>
        <td>
      <tr class="d-flex justify-content-center gap-3">
        <td>
          <i
            (click)="OnEdit(dataList)"
            style="cursor: pointer"
            class="fas fa-eye text-secondary"
          ></i>
        </td>
        <!-- <td><i (click)="OnDelete(dataList.id)" style="cursor: pointer;"
                    class="fas fa-trash-alt text-danger"></i></td> -->
      </tr>
      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun élément trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
