<div class="card">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <span>Commercial :</span>
      <span class="p-input-icon-left w-100 d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input
          class="w-100"
          style="border-radius: 7px"
          pInputText
          type="text"
          [(ngModel)]="filters.commercialNomPrenom"
          (keydown.enter)="filterGlobal()"
          placeholder="Recherche"
        />
      </span>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <span>Date debut :</span>
      <span class="p-input-icon-left w-100 d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input
          class="w-100"
          style="border-radius: 7px"
          pInputText
          type="text"
          [(ngModel)]="filters.dateDebut"
          (keydown.enter)="filterGlobal()"
          placeholder="Recherche"
        />
      </span>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <span>Date Fin :</span>
      <span class="p-input-icon-left w-100 d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input
          class="w-100"
          style="border-radius: 7px"
          pInputText
          type="text"
          [(ngModel)]="filters.dateFin"
          (keydown.enter)="filterGlobal()"
          placeholder="Recherche"
        />
      </span>
    </div>
  </div>
  <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="10" [paginator]="true"
           [totalRecords]="totalPages" [lazy]="true"
           (onPage)="onPage($event)">

    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color);">Commercial</th>
        <th style="color: var(--secondary-color);">Telephone</th>
        <th style="color: var(--secondary-color);">Email</th>
        <th style="color: var(--secondary-color);">Depot</th>
        <th style="color: var(--secondary-color);">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.nom }} {{ dataList.prenoms }}
                    </span>
        </td>
        <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.telephone }}
                    </span>
        </td>
        <td>
          {{ dataList.email }}
        </td>
        <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ dataList.depot}}
                    </span>
        </td>
        <td>
      <tr class=" gap-3">
        <td><i style="cursor: pointer;" (click)="ViewDetails(dataList)" class="fas fa-eye text-secondary"></i></td>
      </tr>

      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun article trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal detail -->
<!-- Modal -->
<div *ngIf="isModalOpen" class="custom-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center"
             style="background-color: rgb(219, 255, 232); border-radius: 3rem; width: 3rem; height: 3rem;">
          <i class="fas fa-box-check text-primary fs-3"></i>
        </div>
        <h1 *ngIf="operation == 'create'" class="modal-title fs-5 ms-3" id="staticBackdropLabel">Modification
          de visite</h1>
        <h1 *ngIf="operation == 'edit'"class="modal-title fs-5 ms-3" id="staticBackdropLabel">Détails de la visite</h1>
      </div>

      <div class="modal-body" *ngIf="operation == 'edit'">
        <fieldset class="row border my-2">
          <legend style="font-size: 14px" class="text-secondary">
            Informations du commercial
          </legend>
          <div class="row">
            <div class="col-md-4">
              <strong>Nom & prénoms :</strong>
              <span>{{
                  updateData?.nom+' '+updateData?.prenoms
                }}</span>
            </div>
            <div class="col-md-4">
              <strong>Téléphone :</strong>
              <span>{{ updateData.telephone }}</span>
            </div>
            <div class="col-md-4">
              <strong>Email :</strong>
              <span>{{ updateData?.email }}</span>
            </div>
          </div>

        </fieldset>

        <fieldset class="row border my-2" *ngIf="operation == 'edit'">
          <legend style="font-size: 14px" class="text-secondary">
            Informations planifications
          </legend>
          <div class="row">
            <div class="col">
              <table class="table table-bordered table-hover">
                <thead class="table-success">
                <tr>
                  <th>Type</th>
                  <th>Jours</th>
                  <th>Points de ventes</th>
                  <th>Vehicules</th>
                  <th>Date début</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let visite of updateData.visites">
                  <ng-container *ngFor="let point of visite.pointsDeVente; let i = index">
                    <tr>
                      <!-- Afficher le jour seulement une fois, avec rowspan -->
                      <td *ngIf="i === 0" [attr.rowspan]="visite.pointsDeVente.length">
                        {{ visite.typeVisite.libelle }}
                      </td>
                      <td *ngIf="i === 0" [attr.rowspan]="visite.pointsDeVente.length">
                        {{ visite.repetitionDays[0] }}
                      </td>
                      <td>{{ point.nomEtablissement }}</td>
                      <td *ngIf="i === 0" [attr.rowspan]="visite.pointsDeVente.length">
                        {{ visite.vehicule.marque}} - {{ visite.vehicule.immatriculation}}
                      </td>
                      <td *ngIf="i === 0" [attr.rowspan]="visite.pointsDeVente.length">
                        <div class="d-flex flex-column gap-3">
                          <span>{{ visite.dateDebut}}</span>
                          <div class=" gap-3 d-flex flex-row">
                            <button class="btn btn-secondary" (click)="onEdit(visite)">
                              <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click)="onDelete(visite)">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
                </tbody>
              </table>

            </div>
          </div>

        </fieldset>

      </div>

      <div class="modal-body" *ngIf="operation == 'create'">
        <div class="row">
          <div class="col-8">
            <form [formGroup]="VisiteForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="format" class="form-label">Type visite <span
                      class="text-danger">*</span></label>
                    <ng-select class="form-control" [items]="typeVisite" bindLabel="libelle" bindValue="id"
                               formControlName="typeVisite" [searchable]="true">
                    </ng-select>
                  </div>
                  <div class="mb-3">
                    <label for="format" class="form-label">Vehicule <span
                      class="text-danger">*</span></label>
                    <ng-select class="form-control" [multiple]="false"  [items]="vehicules"
                               bindLabel="marque" bindValue="id" formControlName="vehiculeId"
                               [searchable]="true">
                    </ng-select>
                  </div>
                  <div class="mb-3">
                    <label  class="form-label" for="day">Choisir un jour  <span
                      class="text-danger">*</span></label>
                    <select formControlName="repetitionDays" class="form-control" id="day">
                      <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="format" class="form-label">Commercial <span
                      class="text-danger">*</span></label>
                    <ng-select class="form-control" [items]="commerciaux" bindLabel="fullLabel" bindValue="id"
                               (change)="LoadPdv($event);"  formControlName="commercialId" [searchable]="true">
                    </ng-select>
                  </div>
                  <div class="mb-3">
                    <label for="format" class="form-label">Date de visite <span
                      class="text-danger">*</span></label>
                    <input type="date" class="form-control" formControlName="dateVisite"/>
                  </div>
                  <div class="mb-3">
                    <label for="format" class="form-label">Nombre de mois<span
                      class="text-danger">*</span></label>
                    <input type="number" class="form-control" formControlName="repetitionDuration" />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-4">
            <div class="col-md-12">
              <div class="mb-3">
                <form [formGroup]="searchForm">
                  <label for="format" class="form-label">Point de vente <span class="text-danger">*</span></label>
                  <input type="text" placeholder="Recherche" class="form-control w-70" formControlName="searchQuery"
                         (input)="filterData()"/>
                </form>
                <div class="table-responsive" style="max-height: 200px; overflow-y: auto;">
                  <table class="table">
                    <tbody>
                    <tr *ngFor="let item of filteredPointDeVente; let i = index" style="font-size: small;">
                      <td><input type="checkbox" [name]="'checkbox_' + i" [(ngModel)]="item.isChecked"
                                 (change)="toggleSelection(item)"></td>
                      <td>{{ item.nomEtablissement }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="max-height: 220px; overflow-y: auto;">
          <table class="table">
            <thead>
            <tr style="font-size: small;">
              <th scope="col">Point de vente</th>
              <th scope="col">Contact</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of selectedItems" style="font-size: small;">
              <th scope="row">{{ item.nomEtablissement }}</th>
              <td>{{ item.contactGerant }}</td>
              <td>

                <button class="btn btn-danger" (click)="removeItem(item)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
            <!-- Ajoutez d'autres lignes si nécessaire -->
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer gap-3 px-4">
        <button (click)="OnCloseModal()" class="btn btn-primary px-2">Fermer</button>
        <button *ngIf="operation=='create'" (click)="onValidate()" class="btn btn-secondary px-2">Valider</button>
      </div>
    </div>
  </div>
</div>
