<div class="gap-2 d-flex align-items-center mb-3" style="cursor: pointer;" (click)="goBack()">
    <i style="font-size: 18px;" class="fas fw-bold fa-chevron-left me-2"></i>
    <h4 class="fw-bold mb-0">Validation commande</h4>
</div>

<div class="card">
   
    <p-table [styleClass]="'p-datatable-sm'" #dt2 [value]="dataList" dataKey="id" [rows]="8"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" (onPage)="onPage($event)">

        <ng-template pTemplate="header">
            <tr>
                <th style="color: var(--secondary-color)">N° commande</th>
                <th style="color: var(--secondary-color)">Fournisseur</th>
                <th style="color: var(--secondary-color)">Date commande</th>
                <th style="color: var(--secondary-color)">Date livraison estimé</th>
                <th style="color: var(--secondary-color)">Magasin à approvisionner</th>
                <th style="color: var(--secondary-color)">Actions</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataList>
            <tr>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.image }} -->
                    </span>
                </td>
                <td>
                    <!-- {{ dataList.libelle }} -->
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.format }} -->
                    </span>
                </td>
                <td>
                    <!-- {{ dataList.categorieproduit.libelle }} -->
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.groupearticle.libelle }} -->
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.Conditionnement }} -->
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.plastiquenu.libelle }} -->
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        <!-- {{ dataList.bouteillevide.libelle }} -->
                    </span>
                </td>
                <td>
                    <!-- <span class="ml-1 vertical-align-middle">
                        {{ dataList.plastiquenu.libelle }}
                    </span> -->
                </td>
                <td>
            <tr class="d-flex justify-content-center gap-3">
                <td><i (click)="OnEdit(dataList)" style="cursor: pointer;" class="fas fa-edit text-secondary"></i></td>
                <td><i (click)="OnDelete(dataList.id)" style="cursor: pointer;"
                        class="fas fa-trash-alt text-danger"></i></td>
            </tr>

            </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Aucune commande trouvé.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


