<!-- Navigation -->
<nav class="nav nav-pills flex-column flex-sm-row gap-2 border-bottom" id="nav-tab" role="tablist">
  <a class="flex-sm text-sm-center nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
    aria-controls="nav-home" aria-selected="true">Types d'articles</a>
  <a class="flex-sm text-sm-center nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
    aria-controls="nav-profile" aria-selected="true">Groupe de produits</a>
  <a class="flex-sm text-sm-center nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab"
    aria-controls="nav-contact" aria-selected="false">Articles</a>
</nav>

<!-- Content for each tab -->
<div class="tab-content mt-3" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <app-groupe-produit></app-groupe-produit>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <p>Contenu pour l'onglet "Link".</p>
  </div>
</div>