<!-- Navigation -->
<nav class="nav nav-pills flex-column flex-sm-row gap-1 border-bottom">

  <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'groupeProduits'"
    (click)="activeElement('groupeProduits')">Groupe d'articles</a>

    <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'typeArticle'"
    (click)="activeElement('typeArticle')">Types d'articles</a>
    
  <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'articles'"
    (click)="activeElement('articles')">Articles</a>

  <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'listPrix'"
    (click)="activeElement('listPrix')">Liste des prix</a>

  <a class="flex-sm text-sm-center nav-link" [class.active]="activeTab === 'creatPrix'"
    (click)="activeElement('creatPrix')">Création des prix</a>
</nav>

<div class="tab-content mt-3">
  <div *ngIf="activeTab === 'typeArticle'" class="tab-pane fade show active">
    <app-type-article></app-type-article>
  </div>

  <div *ngIf="activeTab === 'groupeProduits'" class="tab-pane fade show active">
    <app-groupe-produit></app-groupe-produit>
  </div>

  <div *ngIf="activeTab === 'articles'" class="tab-pane fade show active">
    <app-article></app-article>
  </div>

  <div *ngIf="activeTab === 'listPrix'" class="tab-pane fade show active">
    <app-list-prix></app-list-prix>
  </div>

  <div *ngIf="activeTab === 'creatPrix'" class="tab-pane fade show active">
    <app-creation-prix></app-creation-prix>
  </div>
</div>