<div class="container-fluid vh-100 d-flex justify-content-center align-items-center"
     style="background-image: url('assets/image/bg-login.jpeg'); background-size: cover; background-position: center;">

  <div class="bg-white shadow rounded p-4 w-100" style="max-width: 400px;">
    <div class="text-center mb-3">
      <img src="assets/image/armonyssansfond.png" style="height: 70px;">
    </div>
    <h5 class="text-center mb-3 fw-bold">Connectez-vous</h5>
    <label class="mb-3 text-danger text-center fw-bold fs-2" *ngIf="testVersion">
      VERSION TEST
    </label>
    <label class="mb-3 text-black-50 text-center form-label">
      Bienvenue sur l'espace administrateur BEST NEGOCE SERVICE
    </label>
    <form [formGroup]="loginForm" (ngSubmit)="ToConnect()">
      <div class="mb-3">
        <label for="email" class="form-label">Adresse e-mail</label>
        <input type="email" formControlName="login" class="form-control" id="email" placeholder="Entrez votre e-mail">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Entrez votre mot de passe">
        <label class="error my-3 text-danger d-block" *ngIf="submitError">Email ou mot de passe incorrect</label>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="remember">
        <label class="form-check-label" for="remember">Se souvenir de moi</label>
      </div>
      <button type="submit" [disabled]="loginForm.invalid || isLoading" class="btn btn-primary w-100">
        <span *ngIf="isLoading">Patientez ...</span>
        <span *ngIf="!isLoading">Se connecter</span>
      </button>
    </form>
    <p class="mt-3 text-primary text-center" style="cursor: pointer;" (click)="ToForgetPassword()">Mot de passe oublié ?</p>
  </div>

</div>
