/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f7fcff;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: transparent;
    -webkit-box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 17px -2px rgba(0, 0, 0, 0.26);
}

.text-primary {
    color: var(--primary-color) !important;
}

.btn-primary:hover {
    border-color: transparent;
    background-color: rgb(103, 192, 130) !important;
}

.form-control {
    height: 50px;
    -webkit-box-shadow: 0px 3px 20px -11px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 3px 20px -11px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 3px 20px -11px rgba(0, 0, 0, 0.45);
}

.form-label {
    color: #696F79 !important;
}

.btn:disabled {
    border-color: transparent;
    background-color: rgb(103, 192, 130) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.card {
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: auto;
    border: none;
    -webkit-box-shadow: 0px 0px 17px -7px rgba(204,204,204,0.72);
    -moz-box-shadow: 0px 0px 17px -7px rgba(204,204,204,0.72);
    box-shadow: 0px 0px 17px -7px rgba(204,204,204,0.72);
}

.hover-scale {
    transition: transform 0.3s ease-in-out; /* Transition fluide */
}

.hover-scale:hover {
    transform: scale(1.05); /* Grossissement léger au survol */
}

.hover-scale-image {
    transition: transform 0.3s ease-in-out; /* Transition fluide sur l'image */
}

.hover-scale-image:hover {
    transform: scale(1.1); /* Grossissement plus important de l'image au survol */
}

.p-datatable .p-datatable-thead > tr > th
{
    background: none;
}
.p-datatable .p-datatable-tbody > tr
{
    border-bottom: 0.5px solid #cfcfcf;
}