<div class="card p-4">
  <div class="d-flex flex-row flex-wrap gap-4">

    <ng-container *ngFor="let item of ListItems">
      <div
        *ngIf="hasPermission(item.perm)"
        class="d-flex flex-column align-items-center onglet m-2 hover-scale"
        style="min-width: 15%;"
        (click)="displayItem(item)"
      >
        <img
          [src]="item.image"
          alt="{{ item.title }}"
          style="width: 60px; height: 60px; border-radius: 10px;"
        />
        <p class="text-center mt-3 fw-bold" style="font-size: 14px;">
          {{ item.title }}
        </p>
      </div>
    </ng-container>

  </div>
</div>
