<div class="card" [@fadeOutUp]="isCreating ? 'out' : 'in'" *ngIf="!isCreating">
  <div class="d-flex justify-content-end py-3">
    <button type="button" class="btn btn-secondary px-4 d-flex justify-content-around align-items-center"
            (click)="OnCreate()">
      <i class="fad fa-chevron-double-up me-2"></i>
      <span>Faire une dépense</span>
    </button>

  </div>
  <p-table
    [styleClass]="'p-datatable-sm'"
    #dt2
    [value]="dataList"
    dataKey="id"
    [rows]="8"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)"></th>
        <th style="color: var(--secondary-color)">Paiement de</th>
        <th style="color: var(--secondary-color)">Type opérations</th>
        <th style="color: var(--secondary-color)">Mode de paiement</th>
        <th style="color: var(--secondary-color)">Origine</th>
        <th style="color: var(--secondary-color)">Statut</th>
        <th style="color: var(--secondary-color)">Date paiement</th>
        <th class="ml-1 text-center" style="color: var(--secondary-color)">Montant</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <div class="d-flex align-items-center justify-content-center" *ngIf="dataList.transaction.sens == 'ENTREE'"
               style="background-color: #bdffd3; padding: 5px; border-radius: 6px;">
            <i class="fad fa-chevron-double-down text-success"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center" *ngIf="dataList.transaction.sens == 'SORTIE'"
               style="background-color: #ffbdbd; padding: 5px; border-radius: 6px;">
            <i class="fad fa-chevron-double-up text-danger"></i>
          </div>
        </td>
        <td>
           <span class="ml-1 vertical-align-middle fw-bold" style="font-size: 11px">
  {{
               dataList.client?.nomEtablissement
                 ? dataList.client?.nomEtablissement
                 : dataList.client?.nom
                   ? dataList.client?.nom + ' ' + dataList.client?.prenoms
                   : dataList.client?.raisonSocial
             }}
</span>

        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px">
            {{ dataList.transaction.motif }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px">
             {{ dataList.moyenPaiement }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px"
                [ngClass]="dataList.transaction.sens == 'ENTREE' ? 'text-success' : 'text-danger'">
             {{ dataList.transaction.sens }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px">
             {{ dataList.statut || 'N/A' }}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px">
            {{ dataList.datePaiement | date: 'dd/MM/yyyy à HH:mm' }}
          </span>
        </td>
        <td>
          <div class="text-center" [ngClass]="dataList.transaction.sens == 'ENTREE' ? 'bg-entry' : 'bg-out'">
             <span class="ml-1 vertical-align-middle w-100 fw-bold " style="font-size: 12px">
             {{ dataList.transaction.sens == 'ENTREE' ? '+' : '' }}{{ dataList.montant | currency:'XOF' }}
          </span>
          </div>
        </td>

      </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun élément trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div [@fadeInDown]="isCreating ? 'in' : 'out'" *ngIf="isCreating" class="card p-4 mt-3">
  <h5>Nouvelle dépense</h5>
  <form [formGroup]="depenseForm">
    <div class="mb-3">
      <label for="libelle" class="form-label">Motif</label><label class="text-danger">*</label>
      <input id="libelle" class="form-control" formControlName="libelle">
      <div *ngIf="depenseForm.get('libelle')?.invalid && depenseForm.get('libelle')?.touched" class="text-danger">
        Motif requis
      </div>
    </div>

    <div class="mb-3">
      <label for="montant" class="form-label">Montant</label><label class="text-danger">*</label>
      <input id="montant" type="number" class="form-control" formControlName="montant">
      <div *ngIf="depenseForm.get('montant')?.invalid && depenseForm.get('montant')?.touched" class="text-danger">
        Montant valide requis
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" formControlName="description"></textarea>
    </div>

    <div class="d-flex gap-4">
      <button class="btn btn-secondary" type="button" (click)="onCancel()">Annuler</button>
      <button class="btn btn-success" [disabled]="depenseForm.invalid" (click)="saveDepense()">Enregistrer</button>
    </div>
  </form>
</div>
