<div class="card">
  <p-table
    [styleClass]="'p-datatable-sm'"
    #dt2
    [value]="dataList"
    dataKey="id"
    [rows]="8"
    [totalRecords]="totalPages" [lazy]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="color: var(--secondary-color)"> </th>
        <th style="color: var(--secondary-color)">Paiement de </th>
        <th style="color: var(--secondary-color)">Type opérations</th>
        <th style="color: var(--secondary-color)">Mode de paiement</th>
        <th style="color: var(--secondary-color)">Statut</th>
        <th style="color: var(--secondary-color)">Date paiement</th>
        <th class="ml-1 text-center" style="color: var(--secondary-color)">Montant</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataList>
      <tr>
        <td>
          <div class="d-flex align-items-center justify-content-center" *ngIf="dataList.transaction.sens == 'ENTREE'" style="background-color: #bdffd3; padding: 5px; border-radius: 6px;">
            <i class="fad fa-chevron-double-down text-success"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center"  *ngIf="dataList.transaction.sens == 'SORTIE'" style="background-color: #ffbdbd; padding: 5px; border-radius: 6px;">
            <i  class="fad fa-chevron-double-up text-danger"></i>
          </div>
        </td>
        <td>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px">
            {{dataList.transaction.motif}}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px">
             {{dataList.moyenPaiement}}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px" [ngClass]="dataList.transaction.sens == 'ENTREE' ? 'text-success' : 'text-danger'">
             {{dataList.transaction.sens}}
          </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle" style="font-size: 11px" >

          </span>
        </td>
        <td>
          <div class="text-center" [ngClass]="dataList.transaction.sens == 'ENTREE' ? 'bg-entry' : 'bg-out'">
             <span class="ml-1 vertical-align-middle w-100 fw-bold " style="font-size: 12px">
             {{dataList.transaction.sens == 'ENTREE' ? '+' : ''}}{{dataList.montant | currency:'XOF'}}
          </span>
          </div>
        </td>
      </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun élément trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
